<div class='row'>
<% if @question.errors.any? %>
  <% @question.errors.messages.each do |message| %>
      <div class='container bg-warning'>
        <div class="message"><ul><li><%= message.last.last.html_safe %></li></ul></div>
      </div>
  <% end %>
<% end %>
  
  
</div>

<!--
<div class='row'>
 
  <div class='well' align='center'>
    <h3>Haz tu Pregunta.</h3>
  </div>
  <!--<div class='row'>
      <div class='col-md-4 col-md-offset-4'>
        <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pQSTz8H-nhU?rel=0&autoplay=1"></iframe>
        </div>
      </div>
      <br>
   -->
  
<!--
  <div class='col-md-4 col-md-offset-4'>
    
  </div>
</div>
-->
<div class="top">
				<div class="wrapper">
					<img src="images/icn/logo-bubble-grey.png" class="logo">
					<nav>
						<a href="#">Navigation</a>
						<a href="#">Navigation</a>
						<a href="#">Navigation</a>
					</nav>
				</div>
			</div>
			
			<div class="content internal">
				<section>
					<div class="wrapper">
						<h2>Haz tu pregunta</h2>
						<form class="data-fields">
							<div class="columns two">
								<fieldset>
									<select>
										<option>Imigración</option>
										<option>Imigración</option>
									</select>
								</fieldset>
								<fieldset>
									<input type="email" placeholder="Ingrese su email">
								</fieldset>
							</div>
							<div class="columns two p__relative">
								<textarea placeholder="Cual es su pregunta?"></textarea>
								<input type="submit" value="Enviar">
							</div>
							
						</form>
					</div>
				</section>
			</div><!-- CONTENT END-->
