<hr/>
<div class = 'container' align='center'>
  <h1 > <%= @lawyerprofile.name %> </h1>
  <div><%= image_tag @lawyerprofile.image.largeprofile, options={class: 'img-circle'} %></div>
  <h3> <%= @lawyerprofile.state %> </h3>
  <p> <%= @lawyerprofile.body%> </p>
  

  
  
</div>