<hr/>
<div class = 'container'>
  <h1> <%= @lawyerprofile.name %> </h1>
  <h3> <%= @lawyerprofile.state %> </h3>
  <%= image_tag @lawyerprofile.image.tiny %> 
  <p class='well'> <%= @lawyerprofile.body%> </p>
  

  
  
</div>