
<section class="fold-cta internal-header">
	<div class="wrapper">
		<h1>Abogadazo</h1>
		<p>Somos un grupo de abogados sirviendo a la comunidad Latina en Estados Unidos. A través de Abogadazo.com respondemos preguntas, damos recursos, y nos conectamos con la comunidad.</p>
	</div>
</section>

<section class="about-copy">
	<div class="wrapper">
		<div class="left">
			<img src="images/logo-bubble-grey.png" alt="">
		</div>
		<div class="right">
			<p><b>Abogadazo</b> tiene el objetivo de cambiar como la <b>Comunidad Latina</b> en los Estados Unidos recibe ayuda legal. Más información juridica es la base para tomar mejores decisiones legales. Creemos firmemente que todos merecemos acceso facil a los servicios jurídicos en los Estados Unidos. Por esta razon ponemos a la disposisicion del publico un medio donde todos puedan hacer preguntas de indole juridico para ser respodidas por abogados expertos en la materia. Y todo en tu idioma.</p>
			<p><b>Abogadazo</b> es una empresa web dedicada a hacer la información legal más accesible a la <b>Comunidad Latina</b> en los Estados Unidos. Estamos ubicados en el corazón de Silicon Alley - en la ciudad de Nueva York.</p>
		</div>
	</div>
</section>

<section class="helps">
	<div class="left">
		<div class="vcenter">
			<h2>Ayudando a los que lo<br> necesitan...</h2>
			<p>En abogadazo queremos ayudarte a ti y a tus seres queridos a solucionar cualquier duda o inquietud sobre temas legales en español. Permítenos asesorarte!</p>
			<a href="#" class="button blue">Ver más</a>
			<span class="ortxt" style="margin: 0 10px; color: #666;">ó</span>
			<a href="#" class="button grey transparent phone">Llámanos</a>
		</div>
	</div>
	<div class="right flag"></div>
</section>

<section class="topics-about-fold">
	<div class="left">
	</div>
	<div class="right flag">
		<div class="vcenter">
			<h2>Cada 20s, alguien realiza una búsqueda sobre algún tema legal...</h2>
			<p>En abogadazo encontrarás lo que necesites.</p>
			<a href="#" class="readmore" style="display: inline-block; color: #2980B9; background-position: 100% 0; padding-right: 20px;">Ver más temas legales</a>
		</div>
	</div>
</section>


<!-- CONTENT -->