
<div class="content internal about">
				<section>
					<div class="wrapper">
						<h1>Que es abogadazo?</h1>
						<p><b>Abogadazo</b> tiene el objetivo de cambiar como la <b>Comunidad Latina</b> en los Estados Unidos recibe ayuda legal. Más información juridica es la base para tomar mejores decisiones legales. Creemos firmemente que todos merecemos acceso facil a los servicios jurídicos en los Estados Unidos. Por esta razon ponemos a la disposisicion del publico un medio donde todos puedan hacer preguntas de indole juridico para ser respodidas por abogados expertos en la materia. Y todo en tu idioma.</p>
						<p><b>Abogadazo</b> es una empresa web dedicada a hacer la información legal más accesible a la <b>comunidad Latina</b> en los Estados Unidos. Estamos ubicados en el corazón de Silicon Alley - en la ciudad de Nueva York.</p>
					</div>
				</section>
        <section>
          <div class="wrapper">
            <div class="process">
							<div style="text-align: left;">
								<!--<span><span class="number">1</span>Llámanos</span>-->
                <span>Llámanos</span>
                <span class="copy-steps">Completamente grátis <br>al número <b>862-596-2782</b></span>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/graph_llamanos.png" alt="">
							</div>
							<div style="text-align: center;">
								<!--<span><span class="number">2</span>Déjenos saber su caso</span>-->
                <span>Déjenos saber su caso</span>
                <span class="copy-steps">Cuéntenos que sucedió, con detalles y uno<br> de nuestros abogados le dirá si tiene un caso.</span>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/graph_dejanossaber.png" alt="">
							</div>
							<div style="text-align: right;">
								<!--<span><span class="number">3</span>Sepa como proceder</span>-->
                <span>Sepa como proceder</span>
                <span class="copy-steps">Sabiendo si tiene un caso real,<br> uno de nuestros abogados se<br> hará cargo de su caso.</span>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/graph_comoproceder.png" alt="">
							</div>
						</div>
          </div>
        </section>
				<section class="team">
					<div class="wrapper">
						<h2>El Equipo</h2>
						<div class="members">
							<div class="image">
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/picture_for_blog.jpg" alt="">
							</div>
							<span class="name">Diego Lafuente</span>
							<span>CEO & Founder</span>
						</div>
						<div class="members">
							<div class="image">
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/hector_lafuente.jpg" alt="">
							</div>
							<span class="name">Hector Lafuente</span>
							<span>Business Development</span>
						</div>
						<div class="members">
							<div class="image">
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/ricardo.jpg" alt="">
							</div>
							<span class="name">Ricardo De León</span>
							<span>Frontend Developer</span>
						</div>
					</div>
				</section>
			</div><!-- CONTENT END-->