<%= render partial: "layouts/navigation" %>
<div class='container'>
  
  <p>
    <strong>ABOGADAZO.COM</strong>
</p>
<p>
    <strong>TÉRMINOS Y CONDICIONES DE USO</strong>
</p>
<p>
    <strong>Bienvenido a Abogadazo.</strong>
</p>
<p>
    Los productos y servicios de Abogadazo son proporcionados por Abogadazo. Estos Términos de servicio ("Condiciones") regulan el uso del sito web, productos
    y servicios de Abogadazo (colectivamente, los "Servicios"), así que por favor lean cuidadosamente.
</p>
<p>
    Al acceder a este sitio web, o utilizar los Servicios, usted está de acuerdo con los Términos. Si usted tiene alguna pregunta, por favor póngase en
    contacto con nosotros (DIEGO@ABOGADAZO.COM)
</p>
<p>
    <strong>1. Uso de nuestros Servicios</strong>
</p>
<p>
    Usted puede usar nuestros servicios sólo si se puede formar un contrato legalmente con Abogadazo. En ningún caso es el uso de los servicios permitidos por
    los menores de la edad de 13. Si está utilizando los Servicios en nombre de cualquier entidad, a continuación, usted está de acuerdo con los Términos en
    nombre de esa entidad.
</p>
<p>
    Uso de nuestros Servicios no le otorga la propiedad de ningún derecho de propiedad intelectual en nuestros Servicios o el contenido al que acceda. Excepto
    en el contexto de la navegación o acceder a nuestros Servicios de conformidad con estas Condiciones, no podrá utilizar el contenido de nuestros servicios a
    menos que obtenga el permiso de su propietario o de lo contrario se le permite la ley. Estos términos no le conceden el derecho de utilizar cualquier marca
    o logotipos utilizados en nuestros servicios. Usted no puede eliminar, ocultar o alterar los avisos legales que aparecen en o junto con nuestros servicios.
</p>
<p>
    <strong>2. Información sobre los Servicios</strong>
</p>
<p>
    Nuestros Servicios muestran contenido que no está creado o desarrollado por Abogadazo. Este contenido es responsabilidad exclusiva de la persona o entidad
    que crea o lo desarrolla. Podemos revisar dicho contenido para determinar si es ilegal o que viola nuestras políticas, y podemos suprimir o rechazar para
    mostrar el contenido que tenemos razones para creer infringe nuestras políticas o la ley. Pero nosotros no evaluamos sistemáticamente el contenido de
    terceros que se publica a través de nuestros Servicios. Esto incluye la información legal que los abogados publican en Abogadazo ("Información Legal"), y
    no puede garantizar la exactitud, veracidad o calidad de tal información legal, o las calificaciones de los publicarlo.
</p>
<p>
    <strong>3. No Hay Ninguna formación de una relación abogado-cliente</strong>
</p>
<p>
    La Información Legal publicado en Abogadazo está destinado sólo para fines informativos generales y debe utilizarse sólo como un punto de partida para
    hacer frente a sus problemas legales. La Información Legal no es la prestación de servicios jurídicos, y el acceso a dicha información, o correspondientes
    con o hacer preguntas a un abogado a través de los Servicios, o de otro modo utilizar los Servicios, no crea una relación abogado-cliente entre usted y
    Abogadazo, o y cualquier abogado. No es un sustituto de una persona en o consulta telefónica con un abogado con licencia para ejercer en su jurisdicción
    sobre su problema legal específico, y usted no debe confiar en dicha Información Legal. Usted entiende que las preguntas y respuestas u otras publicaciones
    a los servicios no son confidenciales y no están sujetos al secreto profesional.
</p>
<p>
    <strong>4. Publicidad Legal y de Comunicaciones</strong>
</p>
<p>
    Es responsabilidad exclusiva de los abogados y bufetes de abogados para asegurar que cualquier información o anuncios que publican o lugar en el sitio web
    Abogadazo (incluyendo sin limitación cualquier Información legal), y cualquier comunicación que pueda tener con los clientes potenciales a través de los
    Servicios, cumple plenamente con todas las leyes aplicables y las normas de conducta profesional, incluidas las relativas a la práctica no autorizada de la
    ley y las que regulan la forma, forma o contenido de las comunicaciones con los clientes, publicidad, u otros asuntos.
</p>
<p>
    <strong>5. Renuncias y Reconocimientos relacionadas con la utilización Información Legal</strong>
</p>
<p>
    Mientras Abogadazo se esfuerza para proporcionar y para permitir que los abogados para proporcionar-útil información sobre abogados y servicios jurídicos,
    hay algunas cosas que no podemos garantizar. Usted reconoce que dicha información consiste en datos de terceros y contribuciones, que hay ciertas
    limitaciones inherentes a la exactitud o actualidad de la información, que la información jurídica y otra puede ser incompleta, puede contener
    imprecisiones o puede basarse en la opinión. ABOGADAZO NO PANTALLA DICHA INFORMACIÓN PARA LA EXACTITUD O CONFIABILIDAD. EN LA MEDIDA MÁXIMA PERMITIDA POR
    LA LEY, ABOGADAZO Y SUS AFILIADOS, PROVEEDORES Y DISTRIBUIDORES NO SON GARANTÍA, EXPRESA O IMPLÍCITA, ACERCA DE LOS SERVICIOS. LOS SERVICIOS SE
    PROPORCIONAN "TAL CUAL". ABOGADAZO RECHAZA TAMBIÉN LAS GARANTÍAS DE COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO PARTICULAR, TÍTULO Y NO INFRACCIÓN.
</p>
<p>
    <strong>6. Limitación de Responsabilidad</strong>
</p>
<p>
    EN LA MEDIDA MÁXIMA PERMITIDA POR LA LEY, EN NINGÚN CASO ABOGADAZO O CUALQUIERA DE SUS AFILIADOS, PROVEEDORES Y DISTRIBUIDORES, O CUALQUIERA DE SUS
    RESPECTIVOS DIRECTORES, EMPLEADOS Y AGENTES, SERÁN RESPONSABLES POR NINGÚN DAÑO ESPECIAL, INDIRECTO O CONSECUENTE O CUALQUIER PÉRDIDA DE BENEFICIOS O
    INGRESOS, tanto si se efectúan DIRECTA O INDIRECTAMENTE, O CUALQUIER PÉRDIDA DE DATOS, USO, BUENA VOLUNTAD, U OTRAS PÉRDIDAS INTANGIBLES, COMO RESULTADO DE
    (A) EL RESULTADO DE CUALQUIER MATERIA LEGAL; (B) SU ACCESO O USO O IMPOSIBILIDAD DE ACCEDER O UTILIZAR LOS SERVICIOS; (C) CUALQUIER CONDUCTA O CONTENIDO DE
    CUALQUIER TERCERO EN RELACIÓN CON LOS SERVICIOS DE FIESTA; O (D) EL ACCESO NO AUTORIZADO, USO O ALTERACIÓN DE INFORMACIÓN LEGAL.
</p>
<p>
    EN LA MEDIDA PERMITIDA POR LA LEY, LA RESPONSABILIDAD TOTAL DE ABOGADAZO, Y SUS AFILIADOS, PROVEEDORES Y DISTRIBUIDORES, PARA CUALQUIER RECLAMO DERIVADOS
    DE O RELACIONADO DE CUALQUIER FORMA CON EL USO DE LOS SERVICIOS, SE LIMITA A LA CANTIDAD QUE PAGÓ CON NOSOTROS PARA USAR EL SERVICIOS A LOS QUE DICHA
    reclamación se refiere en los 12 meses anteriores a la presentación de dicha reclamación. EN EL INTERÉS DE CLARIDAD, ESTA LIMITACIÓN SE APLICA TAMBIÉN A
    LOS SERVICIOS PREMIUM.
</p>
<p>
    <strong>7. usuario Publicado contenido y Otros Servicios Interactivos o Áreas</strong>
</p>
<p>
    Abogadazo incluye áreas interactivas en el que puedes crear contenido e información, incluyendo los compañeros y comentarios de clientes, preguntas y
    respuestas, comentarios, fotos y otros materiales (el "Contenido de Usuario"). Usted conserva todos los derechos sobre, y es el único responsable por el
    contenido de usuario que usted publique en Abogadazo. También es el único responsable por el uso de tales características interactivas, y los utiliza a su
    propio riesgo. Al utilizar cualquier función interactiva, usted se compromete a cumplir con las Directrices comunitarias Abogadazo. Nos reservamos el
    derecho a eliminar o modificar el Contenido de Usuario por cualquier razón, incluyendo el Contenido de Usuario que creemos que viole estos Términos o
    nuestras políticas.
</p>
<p>
    Al publicar Contenido de Usuario a Abogadazo, usted da Abogadazo y sus afiliados una licencia no exclusiva, libre de regalías, perpetua, irrevocable y
    totalmente sublicenciable derecho de usar, reproducir, modificar, adaptar, publicar, traducir, crear trabajos derivados, distribuir, ejecutar y mostrar
    dicho Contenido de Usuario en todo el mundo en cualquier medio. En la medida de dicho contenido está unido a un perfil en la plataforma Abogadazo, la
    anterior licencia incluye el derecho a reproducir su perfil, y cualquier nombre, imagen o fotografía contenida en tales perfil. Si envía comentarios o
    sugerencias acerca de nuestros servicios, podemos utilizar tus comentarios o sugerencias sin compromiso para usted.
</p>
<p>
    <strong>8. Indemnización </strong>
</p>
<p>
    Usted acepta defender, indemnizar y mantener indemne a Abogadazo, sus empresas filiales, contratistas independientes, proveedores de servicios y
    consultores, y cada uno de sus directores respectivos, empleados y agentes, de y contra cualquier reclamo, daños, costos, responsabilidades y gastos
    (incluyendo, pero no limitado a, los honorarios razonables de abogados) que surjan de o en relación con cualquier Contenido de usuario que publique,
    almacenar o transmitir en oa través de los Servicios o su uso o imposibilidad de uso de los Servicios, incluyendo sin limitación cualquier demanda real o
    amenaza , demanda o reclamación que surja de o esté relacionada con el contenido de usuario, su conducta, su violación de estos Términos o su violación de
    los derechos de terceros.
</p>
<p>
    <strong>9. Modificaciones</strong>
</p>
<p>
    Abogadazo puede revisar estos Términos de vez en cuando, de forma prospectiva, y siempre va a publicar la versión más actualizada en nuestro sitio web. Si
    determinamos, a nuestra entera discreción, que una modificación a estos Términos afecta materialmente sus derechos, se lo notificaremos (mediante, por
    ejemplo, el envío de un mensaje a su cuenta de correo electrónico o publicar en el blog Abogadazo). Al utilizar o seguir utilizando o acceder a los
    Servicios después de cualquier revisión han entrado en vigor, usted acepta que quedará vinculado por los términos revisados.
</p>
<p>
    <strong>10. Ley aplicable y jurisdicción</strong>
</p>
<p>
    Las leyes del Estado de Nueva Jersey, excluyendo su conflicto de disposiciones legales, se aplicarán a cualquier disputa que surja de o relacionados con
    estos Términos o los Servicios. Todas las reclamaciones que surjan de o relacionados con estos Términos o los servicios serán litigados exclusivamente en
    los tribunales estatales o federales ubicados en Newark, Nueva Jersey, y usted y Abogadazo consentimiento a la jurisdicción personal y lugar exclusivo en
    dichos tribunales.
</p>
<p>
    <strong>11. Terminación</strong>
</p>
<p>
    Sin perjuicio de cualquiera de estos Términos, Abogadazo se reserva el derecho, sin previo aviso ya su sola discreción, a finalizar su licencia de uso de
    los Servicios, y para bloquear o impedir su acceso y uso de los Servicios. Abogadazo se reserva el derecho de rechazar prestar el servicio a cualquier
    persona por cualquier motivo y en cualquier momento. En caso de terminación del acceso a los servicios por cualquier razón, usted no tiene derecho a
    obtener una copia de los datos o comunicaciones que almacena o se realiza a través de los Servicios, o cualquier otro dato.
</p>
<p>
    <strong>12. Acuerdo completo</strong>
</p>
<p>
    Estos Términos y Condiciones constituyen el acuerdo completo entre usted y Abogadazo con respecto a la materia objeto de las presentes Condiciones, y
    sustituyen y reemplazan cualquier versión previa de los Términos. Estos Términos crean ningún tercero los derechos beneficiarios fiesta.
</p>
<p>
    <strong>13. Renuncia, Divisibilidad y Asignación</strong>
</p>
<p>
    El fracaso de Abogadazo para hacer cumplir una disposición de estas Condiciones no es una renuncia a su derecho de hacerlo más tarde. Si alguna disposición
    de estas Condiciones se encuentra inaplicable, las restantes disposiciones de las Condiciones permanecerán en pleno efecto y un término de ejecutoria o
    términos serán sustituidos refleja nuestra intención en la mayor medida posible. Usted no podrá ceder ninguno de sus derechos bajo estos Términos, y
    cualquier intento de hacerlo será nulo. Abogadazo podrá ceder sus derechos a cualquiera de sus filiales o subsidiarias, oa cualquier sucesor en interés de
    cualquier negocio relacionado con los Servicios.
</p>

  
  

  
  
  
  
</div>