
<h3 class='well' align='center'><b><%= @article.title %></b></h3>
  
<div class='container'>
  <br>
  <% if @article.video %>
  <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="<%= @article.video_field %>"></iframe>
</div>  
 <br>
 <br> 
  <% end %>
  
  
  <%= simple_format @article.body %>
  
  
  
</div>