

 <div class='well' align='center'>
  <h3><b><%= @article.title %></b></h3>
  </div>
<div class='container'>
  <br>
  <div align='center'>
    <iframe width="600" height="450"
    src="http://www.youtube.com/embed/gEiT-8yYEQE">
    </iframe>
  </div>
  
  <%= simple_format @article.body %>
  
  <%= image_tag @article.image.tiny %>
  
</div>