

  

<div class="jumbotron" id='jumbo-main' >
  <h1 align='center'id='white-font'style='font-weight:lighter'>Haz Preguntas a Abogados,Gratis. </h1>
  
  	   
       
       
      
  

  
</div> <!-- jumbotron end -->
<div align='center'class='row'style='background-color:#d1cfc5'>
  <div class='container'>
    <div class='thumbnail col-md-4'>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <br>
        <button class='btn btn-block btn-md btn-info'>Aqui hay mas informacion</button>
        <br>
      <span>This is what I want to add </span>
        
    </div> 
    <div class='thumbnail col-md-4'>
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        <br>
        <a type="button" class='btn btn-block btn-md btn-info' href='questions/new'>Haz Tu Pregunta</a>
        <br>
        <span>This is what I want to add </span>
    </div> 
    <div class='thumbnail col-md-4'>
       <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <br>
        <a href='articles/1/' class='btn btn-block btn-md btn-info'>Busca Informacion Legal</a>
        <br>
        <span>This is what I want to add </span>
    </div> 
    
  </div>
</div>

<div class='row'>
    <div class='col-md-6 col-md-offset-3'align ='center'>
        <h2>Cómo funciona.</h2>
        <br>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/a78qgki7iJ8?rel=0"></iframe>
        </div>

    </div>
</div>
<div class='row'>
    <div style='background-color:#f1efe8'>
      <h2 align='center'>Nos Apoyan:</h2>
      <br>
      <div class='row' align='center'>
          <div class='col-xs-4 col-md-2 col-md-offset-3'><img class='img-responsive'src='http://s3.amazonaws.com/abzolive1/static/logos/CSL_logo_250.jpg'></div>
          <div class='col-xs-4 col-md-2'><img class='img-responsive' src='http://s3.amazonaws.com/abzolive1/static/logos/startup_retouched.png'> </div>
          <div class='col-xs-4 col-md-2'><img class='img-responsive' src='http://s3.amazonaws.com/abzolive1/static/logos/startup_columbia_retouched.png'> </div>

      </div>
      <br>

    </div>
</div>

<div class='row'>
    <div style='background-color:#d1cfc5'>
      <h2 id='apoyan' align='center'>Quiénes somos</h2>
      <div class ='container'>
          <div >
            <p>
              Abogadazo es una empresa web dedicada a hacer la información legal más accesible a la comunidad Latina en los Estados Unidos. Estamos ubicados en el corazón de Silicon Alley - en la ciudad de Nueva York.

            </p>
          </div>
       </div>
    </div>
      
 </div>


<!--
<div class="container">
     
  
     <div class='row'>
          <h1> Preguntas hechas </h1>
               <% @questions.each do |question| %>
                 
                   <ul><%= link_to question.title,question_path(question) %></ul>
                 
               <% end %>
    </div>
                   
      <div style='background-color:#eee'class='row'>
        <div class='col-md-4'> <%= render partial: "/questions/form", locals: {question: @question} %> </div>
         
      </div>
</div> -->
          
                     
   
    
     
  
     

     <footer id='footer'>
       <div class='container'>
         <div class='col-md-4'>
           <h3 style='color:white;font-weight:lighter'>Sobre Nosotros</h3>
         <p style='color:white'>Abogadazo es una empresa web dedicada a hacer la información legal más accesible a la comunidad Latina en los Estados Unidos. Estamos ubicados en el corazón de Silicon Alley - en la ciudad de Nueva York.<p>
           <img src='http://s3.amazonaws.com/abzolive1/static/logos/miny.png'>
         </div>
         
       </div>
       
     </footer>


             
             
<!-- /container -->



 
