<!--nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Abogadazo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      <!--/div>
</nav-->

    <!-- Main jumbotron for a primary marketing message or call to action -->
  <!--<h1 id='white-font'>Haz preguntas a Abogados, gratis!</h1>
    
        <p id='white-font'>Abogadazo, donde puedes hacer preguntas a Abogados Gratis!</p>
        
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
  

<div class="jumbotron" id='jumbo-main' >
  <h1 align='center'id='white-font'style='font-weight:lighter'>Haz Preguntas a Abogados,Gratis. </h1>
  
  	   
       
       
      
  

  
</div> <!-- jumbotron end -->
<div align='center'class='row'style='background-color:#d1cfc5'>
  <div class='container'>
    <div class='thumbnail col-md-4'>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <br>
        <button class='btn btn-block btn-md btn-info'>Aqui hay mas informacion</button>
        <br>
      <span>This is what I want to add </span>
        
    </div> 
    <div class='thumbnail col-md-4'>
        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
        <br>
        <a type="button" class='btn btn-block btn-md btn-info' href='questions/new'>Haz Tu Pregunta</a>
        <br>
        <span>This is what I want to add </span>
    </div> 
    <div class='thumbnail col-md-4'>
       <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <br>
        <button class='btn btn-block btn-md btn-info'>Busca Informacion Legal</button>
        <br>
        <span>This is what I want to add </span>
    </div> 
    
  </div>
</div>
 
<div class='container'align ='center'>
    <h1>Cómo funciona.</h1>
    <br>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/a78qgki7iJ8"></iframe>
    </div>
</div>
<div style='background-color:#f1efe8'>
  <h1 align='center'>Premios y Reconocimientos</h1>
  <br>
  <div class='row' align='center'>
  <div class='col-md-3 col-md-offset-3'><img class='img-responsive'src='http://s3.amazonaws.com/abzolive1/static/logos/CSL_logo_250.jpg'></div>
  <div class='col-md-3'><img class='img-responsive' src='http://s3.amazonaws.com/abzolive1/static/logos/start_up_ecuador_206.jpg'> </div>
  
  </div>
  <br>
  
</div>
<!--
<div class="container">
     
  
     <div class='row'>
          <h1> Preguntas hechas </h1>
               <% @questions.each do |question| %>
                 
                   <ul><%= link_to question.title,question_path(question) %></ul>
                 
               <% end %>
    </div>
                   
      <div style='background-color:#eee'class='row'>
        <div class='col-md-4'> <%= render partial: "/questions/form", locals: {question: @question} %> </div>
         
      </div>
</div> -->
          
                     
   
    
     
  
     <hr>

     <footer id='footer'>
       <div class='container'>
         <div class='col-md-4'>
           <h3 style='color:white;font-weight:lighter'>Sobre Nosotros</h3>
         <p style='color:white'>Abogadazo es una empresa web dedicada a hacer la información legal más accesible a la comunidad Latina en los Estados Unidos. Estamos ubicados en el corazón de Silicon Alley - en la ciudad de Nueva York.<p>
           <img src='http://s3.amazonaws.com/abzolive1/static/logos/miny.png'>
         </div>
         
       </div>
       
     </footer>

</div>
             
             
<!-- /container -->



 
