<header>
				<div class="vcenter">
					<div class="wrapper">
						<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/logo_white.png" class="logo">
						<span class="mobile">Navegación</span>
						<nav class="navigation">
							<a href="#">Navegación</a>
							<a href="#">Navegación</a>
							<a href="#">Navegación</a>
						</nav>
						<div class="left">
							<h1>Haz Preguntas a Abogados, Gratis</h1>
							<span class="caption-text">Lorem ipsum dolor sit amet, ius id falli eruditi vivendo. Vel electram erroribus delicatissimi eu, et minim minimum complectitur his.</span>
							<a href="#" class="button blue gonext">Preguntar</a>
							<span class="caption-btn">Haz tu pregunta a un abogado ahora.</span>
						</div>
						<div class="right">
							<!-- <img src="images/misc/video.jpg"> -->
							<iframe width="514" height="290" src="https://www.youtube.com/embed/pQSTz8H-nhU" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</header><!-- HEADER END-->
			
			<div class="content">
				<section id="ask-fold">
					<div class="wrapper">
						<div class="process">
							<div>
								<span><span class="number">1</span>Haz tu pregunta</span>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/ask.png" alt="">
							</div>
							<div>
								<span><span class="number">2</span>Obtén una respuesta</span>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/answer.png" alt="">
							</div>
							<div>
								<span><span class="number">3</span>Contacta un abogado</span>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/lawyer.png" alt="">
							</div>
						</div>
					</div>
				</section>
				<section class="bggrey">
					<div class="wrapper">
						<div id="tabs">
							<div class="options">
								<span id="opask" class="active">Haz tu pregunta <span>Lorem ipsum dolor sit amet</span></span>
								<span id="opfind">Encuentra un abogado <span>Lorem ipsum dolor sit amet</span></span>
								<span id="opanswers">Algunas respuestas <span>Lorem ipsum dolor sit amet</span></span>
							</div>
							<div class="content-tab show" id="ask">
								<form class="data-fields">
									<div></div>
									<div class="columns two">
										<fieldset>
											<label>Pregunta de:</label>
											<select>
												<option>Imigración</option>
												<option>Imigración</option>
											</select>
										</fieldset>
										<fieldset>
											<label>Email:</label>
											<input type="email" placeholder="Ingrese su email">
										</fieldset>
									</div>
									<div class="columns two p__relative">
										<label>Mensaje:</label>
										<textarea placeholder="Cual es su pregunta?"></textarea>
										<input type="submit" value="Enviar">
									</div>
									
								</form>
							</div>
							<div class="content-tab" id="find">
								<span>Encuentra un abogado en tus cercanías que te pueda ayudar en tus dudas judiciales.</span>
								<form class="data-fields">
									<div class="columns three">
										<fieldset>
											<select>
												<option>Imigración</option>
												<option>Imigración</option>
											</select>
										</fieldset>
									</div>
									<div class="columns three">
										<fieldset>
											<select>
												<option>Rama Judicial</option>
												<option>Rama Judicial</option>
											</select>
										</fieldset>
									</div>
									<div class="columns three">
										<input type="submit" value="Buscar">
									</div>
								</form>
							</div>
							<div class="content-tab topics" id="answers">
								<div class="columns two">
									<div>
										<span>Articulos:</span>
										<fieldset class="search">
											<input type="text" placeholder="Que buscas?">
										</fieldset>
										<ul class="articles-links">
											<li><a href="">3 Acciones que podemos tomar mientras esperamos por DAPA.</a></li>
											<li><a href="">Cómo un abogado ayudó a Juana ganar su caso de inmigración y como el puede responder su pregunta gratis.</a></li>
											<li><a href="">Newark dará Identificación (IDs) a personas indocumentadas.</a></li>
										</ul>
									</div>
									<div>
										<span>Temas:</span>
										<div class="tags">
											<a href="#">Imigración</a>
											<a href="#">Emprendimiento</a>
											<a href="#">Registro de marca</a>
											<a href="#">Emprendimiento</a>
											<a href="#">Imigración</a>
											<a href="#">Registro de marca</a>
											<a href="#">Imigración</a>
											<a href="#">Emprendimiento</a>
											<a href="#">Registro de marca</a>
											<a href="#">Imigración</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- <section>
					<div class="wrapper">
						<div class="title">
							<h1>Preguntas</h1>
							<span>Algunos Abogados respondiendo preguntas en Abogadazo.</span>
						</div>
						<div class="questions">
							<a href="">Buenas tardes yo quisiera saber si tengo oportunidad de volver a regresara a los Estados ya que mis padres me llevaron ilegal mente cuando yo tenía...</a>
							<a href="">Mi amiga quien vive en colombi desea saber si uds. Pueden asesorarla con su caso de su esposo quien era ciudadano ameriano Murió 2008 en colombia y...</a>
							<a href="">Tengo residencia permanente 2009, mi esposo murió en 2012, yo me encontraba en mi país Colombia desde diciembre 2011 con mi hijo ciudadano american...</a>
						</div>
						<a href="" class="more">Ver más preguntas</a>
					</div>
				</section> -->
				<section>
					<div class="wrapper">
						<div class="title">
							<h1>Nos apoyan</h1>
							<span>Contamos con el apoyo de:</span>
						</div>
						<ul class="sponsor">
							<li>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/startup.png">
							</li>
							<li>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/startup2.png">
							</li>
							<li>
								<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/misc/startup3.png">
							</li>
						</ul>
					</div>
				</section>
			</div><!-- CONTENT END-->
			
			<footer>
				<div class="wrapper">
					<div class="mini-about">
						<img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/mini-logo.png">
						<span>Abogadazo es una empresa web dedicada a hacer la información legal más accesible a la comunidad Latina en los Estados Unidos. Estamos ubicados en el corazón de Silicon Alley - en la ciudad de Nueva York.</span>
					</div>
					<div class="links">
						<span>Enlaces de interés</span>
						<a href="">Terminos de Servicio</a>
						<a href="">Sobre nosotros</a>
						<a href="">Blog</a>
						<a href="">Contactenos</a>
					</div>
					<div class="social">
						<a href=""><img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/facebook.png"></a>
						<a href=""><img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/youtube.png"></a>
						<a href=""><img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/twitter.png"></a>
					</div>
					<div class="re-foot">
						<span>Made with ♡ in NYC. © Abogadazo, all rights reserved Diego Lafuente, 2015</span>
					</div>
				</div>
			</footer><!-- FOOTER END-->