<section class="fold-cta">
				<div class="wrapper">
					<div class="video">
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/pQSTz8H-nhU" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="cta">
						<a href="#" class="call">
							<span class="title">Llamar</span>
							<span class="copy">Completamente grátis al número <b>973-440-8037</b></span>
						</a>
						<a href="#" class="question">
							<span class="title">Ház tu pregunta</span>
							<span class="copy">Te podemos ayudar de una manera más directa.</span>
						</a>
						<a href="#" class="articles">
							<span class="title">Más articulos</span>
							<span class="copy">Ayuda legal más fácil y en nuestro idioma.</span>
						</a>
					</div>
				</div>
			</section>
			<!-- CONTENT -->
			<section class="legal-topics">
				<div class="wrapper">
					<h1>Temas legales</h1>
					<ul class="topics">
						<li>
							<a href="">
								<span class="icon imigration"></span>
								<span class="text">Imigración</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon imigration"></span>
								<span class="text">Imigración</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="icon imigration"></span>
								<span class="text">Imigración</span>
							</a>
						</li>
					</ul>
				</div>
			</section>

			<section class="articles">
				<div class="wrapper">
					<h1>Noticias de Interés - <b>Artículos</b></h1>
					<div class="colum-thumbs">
						<article class="thumb">
							<img src="images/misc/article.jpg" alt="">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente facilis neque iure delectus, a quam, corporis explicabo odio odit minus, cupiditate fuga officiis et assumenda tempore debitis aperiam possimus magnam?</p>
							<a href="post-detail.html" class="button blue">Ver más</a>
						</article>
						<article class="thumb">
							<img src="images/misc/article.jpg" alt="">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente facilis neque iure delectus, a quam, corporis explicabo odio odit minus, cupiditate fuga officiis et assumenda tempore debitis aperiam possimus magnam?</p>
							<a href="post-detail.html" class="button blue">Ver más</a>
						</article>
						<div class="thumb tag-system">
							<h2>Buscabas otro tema?</h2>
							<div class="tags">
								<a href="#">Imigration</a>
								<a href="#">Social</a>
								<a href="#">Laboral</a>
								<a href="#">Tránsito</a>
								<a href="#">Familia</a>
								<a href="#">Imigration</a>
								<a href="#">Social</a>
								<a href="#">Laboral</a>
								<a href="#">Tránsito</a>
								<a href="#">Familia</a>
								<a href="#">Imigration</a>
								<a href="#">Social</a>
								<a href="#">Laboral</a>
								<a href="#">Tránsito</a>
								<a href="#">Familia</a>
							</div>
							<span class="clearfix"></span>
							<a href="#" class="readmore">Ver más articulos</a>
						</div>
					</div>
				</div>
			</section>
			
			<div class="map-location">
				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d5779336.676006724!2d-99.96766962800842!3d39.76246444034651!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sco!4v1492055747967" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="locations">
					<h2>Nuestras Oficinas</h2>
					<div class="mod">
						<h2>San Francisco, CA</h2>
						<span>156 2nd Street</span>
						<span>+5 2563 25532</span>
					</div>
					<div class="mod" style="margin-top: 30px;">
						<h2>San Francisco, CA</h2>
						<span>156 2nd Street</span>
						<span>+5 2563 25532</span>
					</div>
				</div>
			</div>