/*
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "flat-ui";

#jumbo-main{
 background: url('http://abzolive2.s3.amazonaws.com/static/media/images/more/iStock_000005992172Medium.jpg');
 background-repeat: repeat;
 background-size:cover;
 margin-bottom: 0px;
 width: 100%;
 border-radius:0px;
 
  
   
   
}
body { overflow-x: hidden;



}

p,h1,h2,h3{
  font-family: 'Lato';
 
}
#white-font{
  color: white;
}
#telefono-button{
  margin-left:45px;
}

#footer{
  background-color: #333;
  bottom: 0px;
   
  /* Set the fixed height of the footer here */
  
 
}
h1{
 ;
}
.thumbnail{
  background-color:#d1cfc5;
  border-style: none;
}
.glyphicon-user{
  font-size: 30px;
   align:center;
  
}
.glyphicon-comment{
  font-size: 30px;
   align:center;
  
}
.glyphicon-ok{
  font-size: 30px;
   align:center;
  
}
#apoyan{
  margin-top:0px;
}
.navbar-default{
  background-color:white;
  border-style: none;
}
a{
  color:#3498DB;
}
a:hover{
  color:#34495e;
}
.btn-block{
  width:90%;
}
p{
  font-size:18px;
}









