
@charset "UTF-8";
/* ----------------------------
- Copyright 2014, www.imdevsigner.com All rights reserved.
- Authors: Ricardo De León
*/

/* General Classes
 ============================================================ */

p { margin-bottom:10px; }

a, a:visited { text-decoration: none; }
	a:hover{ }


/* Body
============================================================ */
html {
	height: 100%;
}
body {
 	background: #FFF;
	color: #333333;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
	* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-o-box-sizing: border-box;
	}

h1 {
	font-size: 42px;
	display: block;
	line-height: 42px;
}

.bggrey {
	background: #f3f3f3;
}

.p__relative {
	position: relative;
}

/* Mobile */
.navigation {
	margin-top: -180px;
}
	.navigation a {
		color: #ffffff;
		margin-right: 40px;
	}
	.mobile {
		display: none;
		border: 1px solid #fff;
	    border-radius: 3px;
	    padding: 4px 5px;
	    text-transform: uppercase;
	    cursor: pointer;
	    font-weight: 600;
	    font-size: 14px;
	    text-align: center;
	}
		.mobile.active {
			background-color: #ffffff;
			color: #000;
		}


/* Wrapper
 ============================================================ */
 .wrapper {
 	margin: 0 auto;
 	width: 1024px;
 	position: relative;
 }
 	.wrapper.w768 {
 		width: 768px;
 	}
 		.wrapper.w768 h1 {
 			display: block;
 			font-size: 32px;
 			margin-bottom: 40px;
 			line-height: 38px;
 		}
 		.wrapper.w768 img {
 			display: block;
 			margin: 0 auto;
 			margin-bottom: 40px;
 			margin-top: 40px;
 		}
 		.wrapper.w768 p {
 			margin-bottom: 20px;
 			display: block;
 		}
 			.wrapper.w768 p b {
 				font-weight: 600;
 			}
 			.wrapper.w768 p a {
 				color: #3E80B6;
 			}
 				.wrapper.w768 p a:hover {
 					text-decoration: underline;
 				}

 	/* Module About Author */
 	.about-author {
 		display: block;
 		margin-top: 50px;
 		overflow: hidden;
 		padding: 40px 20px;
 		border-radius: 5px;
 		border: 1px solid #cccccc;
 	}
 		.about-author .image {
 			width: 67px;
 			height: 67px;
 			border-radius: 100px;
 			border: 1px solid #CCCCCC;
 			float: left;
 			margin-right: 20px;
 			overflow: hidden;
 		}
 			.about-author .image img {
 				display: block;
 				width: 100%;
 			}

 		.about-author .text {
 			float: left;
 			width: calc(100% - 87px);
 		}
 			.about-author .text .name {
 				font-size: 16px;
 				color: #1F1F1F;
 				display: block;
 				margin: 10px 0;
 				font-weight: 600;
 			}
 			.about-author .text .title {
 				color: #1F1F1F;
 				font-size: 16px;
 				font-weight: 400;
 			}
 			.about-author .text p {
 				font-size: 14px;
 				color: #1F1F1F;
 				margin: 0;
 			}

 .button {
 	display: inline-block;
 	color: #ffffff;
 	padding: 0 30px;
 	text-align: center;
 	line-height: 45px;
 	border-radius: 3px;
 	transition: all 0.3s linear;
 	-moz-transition: all 0.3s linear;
 	-webkit-transition: all 0.3s linear;
 	-o-transition: all 0.3s linear;
 }
 	
 	.button.blue {
 		background-color: #2980B9;
 	}
 	.button:hover {
 		background-color: #1B5880;
 		transition: all 0.3s linear;
	 	-moz-transition: all 0.3s linear;
	 	-webkit-transition: all 0.3s linear;
	 	-o-transition: all 0.3s linear;
 	}

/* Header
============================================================ */
header {
	height: 800px;
	/*background-image: url(../images/bg/bg_abogadazo.jpg);*/
	background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/bg/iStock_000064834499_Medium.jpg);
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	width: 100%;
}
	header .vcenter {
		overflow: hidden;
    	margin-top: 100px;
	}
	.logo {
		transition: width 0.2s linear;
		-webkit-transition: width 0.2s linear;
		-moz-transition: width 0.2s linear;
		-o-transition: width 0.2s linear;
	}
	header .logo {
		display: block;
		clear: both;
		margin-bottom: 150px;
	}
	header .wrapper div {
		width: calc(100% / 2);
		float: left;
	}
	header h1 {
		margin-bottom: 40px;
		color: #ffffff;
	}
		header .caption-text {
			display: block;
			margin-bottom: 40px;
			font-size: 14px;
			color: #ffffff;
		}
		header .button {
			margin-bottom: 20px;
			min-width: 245px;
		}
		header .caption-btn {
			display: block;
			color: #ffffff;
		}

 
/* Content
============================================================ */
.content {

}
	section {
		padding: 100px 0;
		position: relative;
		border-bottom: 1px solid #DFDFDF;
	}
		section .title {
			overflow: hidden;
			margin-bottom: 40px;
		}
			section .title h1 {
				float: left;
				font-size: 32px;
				border-right: 1px solid #666666;
				padding-right: 30px;
				margin-right: 30px;
			}
				section .title span {
					float: left;
					font-size: 14px;
					line-height: 45px;
				}
		section .more {
			float: right;
			color: #333;
			font-size: 14px;
		}
			section .more:hover {
				text-decoration: underline;
			}


	.process {
		overflow: hidden;
	}
		.process div {
			width: calc(100% / 3);
			float: left;
			text-align: center;
			position: relative;
		}
			.process div:after {
				content: "";
				background: url(https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/arrow.png);
				display: inline-block;
				width: 60px;
				height: 30px;
				position: absolute;
				top: 50%;
				right: -20px;
			}
				.process div:last-child:after {
					display: none;
				}
			.process div img {
				display: block;
				margin: 0 auto;
			}
			.process div > span {
				font-size: 22px;
				display: block;
				margin-bottom: 30px;
				font-weight: 600;
			}
			.process div .number {
				display: inline-block;
				width: 32px;
				height: 32px;
				background: #3A96D2;
				font-size: 22px;
				line-height: 31px;
				border-radius: 50%;
				color: #fff;
				margin-right: 5px;
			}


	#tabs .options {
		overflow: hidden;
		display: block;
		width: 100%;
	}
		#tabs .options > span {
			width: calc(100% / 3);
			float: left;
			border-right: 1px solid #666666;
			/*margin-right: 30px;*/
		}
			#tabs .options > span:nth-child(1) {
				width: calc(100% / 3 - 60px);
				margin-right: 40px;
			}
			#tabs .options > span:nth-child(2) {
				margin-right: 30px;
			}
			#tabs .options > span:last-child {
				border-right: none;
				margin-right: none;
				width: calc(100% / 3 - 10px);
			}
			#tabs .options span {
				color: #AAAAAA;
				font-size: 32px;
			}
				#tabs .options span span {
					font-size: 14px;
					display: block;
				}
			/* Interactions */
			#tabs .options > span:hover {
				color: #666666;
				cursor: pointer;
			}
				#tabs .options > span.active {
					color: #3E82B6;
				}

	#tabs .content-tab {
		display: none;
		width: 100%;
		margin-top: 40px;
	}
		#tabs .content-tab.show {
			display: block;
		}

		/* Search */
		#tabs .content-tab .search {
			overflow: hidden;
			display: block;
			margin-top: 40px;
			position: relative;
		}
			#tabs .content-tab .search input:focus {
				border-color: #2980B9;
				transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-webkit-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
			}
			#tabs .content-tab .search:after {
				content: "";
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/icnsearch.png);
				background-repeat: no-repeat;
				background-position: center center;
				display: inline-block;
				width: 15px;
				height: 16px;
				position: absolute;
				bottom: 12px;
				left: 22px;
			}
		#tabs .content-tab .search input {
			border-radius: 3px;
			height: 42px;
			border: 1px solid #DDDDDD;
			font-size: 14px;
			padding: 0 10px;
			padding-left: 60px;
			width: 160px;
			transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
		}
			#tabs .content-tab .search input:focus {
				width: 100%;
				transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-webkit-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
			}


		/* Columns */
		.topics:after {
			content: "";
			display: table;
			clear: both;
		}
		.topics .columns.two {
			display: block;
			clear: both;
		}
		.topics .columns.two > div {
			width: calc(100% / 2);
			float: left;
		}
			.topics .columns.two > div:first-child {
				border-right: 1px solid #ccc;
				padding-right: 40px;
			}
			.topics .columns.two > div:last-child {
				padding-left: 40px;
			}

			.tags {
				overflow: hidden;
				margin-top: 40px;
			}
			.tags a {
				font-size: 14px;
				float: left;
				color: #333333;
				border-radius: 3px;
				cursor: pointer;
				margin-bottom: 10px;
				padding: 5px 10px;
			}
				/*.tags a:hover {
					color: #ffffff;
					background-color: #2980B9;
				}*/
				.tags a span.image {
					width: 40px;
					height: 40px;
					display: inline-block;
					border-radius: 50px;
					overflow: hidden;
				}
					.tags a span img {
						display: block;
						width: 100%;
					}



				.tagslawyer {
					overflow: hidden;
					margin-top: 40px;
				}
				.tagslawyer a {
					font-size: 14px;
					float: left;
					color: #333333;
					border-radius: 3px;
					cursor: pointer;
					overflow: hidden;
					margin-bottom: 10px;
					margin-right: 20px;
					padding: 5px 10px;
				}
					.tagslawyer a span.image {
						width: 40px;
						height: 40px;
						float: left;
						border-radius: 50px;
						overflow: hidden;
					}
						.tagslawyer a span img {
							display: block;
							width: 100%;
						}
						.tagslawyer a span.name {
							float: left;
							line-height: 39px;
							margin-left: 10px;
						}


			.articles-links li {
				position: relative;
				margin-bottom: 10px;
				padding-bottom: 15px;
			}
				.articles-links li:before {
				    content: "";
				    display: inline-block;
				    width: 38px;
				    height: 35px;
				    background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/icnquestion.png);
				    background-repeat: no-repeat;
				    background-position: center center;
				    background-size: 20px;
				    position: absolute;
				    left: 0;
				    top: -7px;
				}
				.articles-links li:after {
					content: "";
					height: 1px;
					background-color: #ccc;
					width: 70%;
					position: absolute;
					left: 0;
					bottom: 0;
				}
			.articles-links {
				overflow: hidden;
				margin-top: 40px;
			}
			.articles-links li a {
				display: block;
				color: #333333;
				padding-left: 50px;
				font-size: 14px;
			}
				.articles-links li a:hover {
					text-decoration: underline;
				}



	/* Questions */
	.questions {
		width: 100%;
		display: block;
		overflow: hidden;
		margin-bottom: 40px;
	}
	.questions a {
		float: left;
		width: calc(100% / 3);
		padding: 30px;
		color: #333;
		font-size: 16px;
		transition: all 0.2s linear;
	 	-moz-transition: all 0.2s linear;
	 	-webkit-transition: all 0.2s linear;
	 	-o-transition: all 0.2s linear;
	}
		.questions a:hover {
			color: #fff;
			background-color: #2980B9;
			transition: all 0.2s linear;
		 	-moz-transition: all 0.2s linear;
		 	-webkit-transition: all 0.2s linear;
		 	-o-transition: all 0.2s linear;
		}

/* Form and Data */

.data-fields .termslink {
	font-size: 14px;
}
	.data-fields .termslink a {
		color: #3E82B6;
	}
		.data-fields .termslink a:hover {
			text-decoration: underline;
		}
.data-fields:after {
	content: "";
	display: table;
	clear: both;
}
	.data-fields .columns.two {
		padding-right: 40px;
	}
	.data-fields .columns.two {
		width: 40%;
		float: left;
	}
	.data-fields .columns.p__relative {
		width: 60%;
		float: left;
		padding: 0;
	}


	.data-fields .columns.three {
		width: calc(100% / 3 - 40px);
		margin-right: 40px;
		margin-top: 30px;
		float: left;
	}
		.data-fields .columns.three:last-child {
			margin-right: 0;
		}
			.data-fields .columns.three:last-child input[type="submit"] {
				width: 100%;
				margin: 0;
			}

		.data-fields .columns fieldset {
			margin-bottom: 20px;
		}
		.data-fields .columns select {
			width: 100%;
			height: 42px;
			font-size: 14px;
			transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
		}
		.data-fields .columns input {
			width: 100%;
			height: 42px;
			font-size: 14px;
			padding: 0 10px;
			border-radius: 3px;
			border: 1px solid #DDDDDD;
			transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
		}
			.data-fields .columns input:focus,
			.data-fields .columns textarea:focus,
			.data-fields .columns select:focus {
				border-color: #2980B9;
				transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-webkit-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
			}
		.data-fields .columns textarea {
			width: 100%;
			font-size: 14px;
			border: 1px solid #DDDDDD;
			height: 105px;
			border-radius: 3px;
			padding: 10px;
			transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
		}
		.data-fields .columns input[type="submit"] {
			background-color: #2980B9;
			color: #fff;
			border: none;
			margin-top: 20px;
			cursor: pointer;
			width: 200px;
			float: right;
		}

	.sponsor {
		overflow: hidden;
		margin-top: 80px;
	}
	.sponsor li {
		width: calc(100% / 3);
		text-align: center;
		float: left;
	}
		.sponsor li img {
			display: block;
		}

/* Internal */
h2 {
	font-size: 22px;
	font-weight: 600;
	display: block;
	margin-bottom: 60px;
	position: relative;
}
	h2.icnquest {
		padding-left: 50px;
	}
	h2.icnquest:after {
		content: "";
		display: inline-block;
		width: 38px;
		height: 35px;
		background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/icnquestion.png);
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		left: 0;
		top: 0;
	}

h3 {
	font-size: 18px;
	display: block;
	color: #1F1F1F;
	margin-bottom: 30px;
	clear: both;
}

.top {
	padding: 90px 0 20px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #ffffff;
	z-index: 4;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
	.top.child {
		padding: 20px 0;
		box-shadow: 0px 0px 5px #ccc;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
		.top.child .logo {
			max-width: 210px;
			transition: width 0.2s linear;
			-webkit-transition: width 0.2s linear;
			-moz-transition: width 0.2s linear;
			-o-transition: width 0.2s linear;
		}

nav {
	float: right;
	margin-top: 14px;
}
	nav a {
		float: left;
		margin-right: 20px;
		font-size: 14px;
		font-weight: 600;
		color: #221F1F;
	}
		nav a:last-child {
			margin-right: 0;
		}
		nav a:hover {
			text-decoration: underline;
		}

.internal {
	padding-top: 160px;
}

.internal .question {
	display: block;
	/*overflow: hidden;*/
	margin-bottom: 50px;
	position: relative;
	padding-bottom: 50px;
	border-bottom: 1px solid #cccccc;
}
	.internal .question:after, .internal .question:before {
		top: 100%;
		left: 10%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.internal .question:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #ffffff;
		border-width: 20px;
		margin-left: -20px;
	}
	.internal .question:before {
		border-color: rgba(204, 204, 204, 0);
		border-top-color: #cccccc;
		border-width: 21px;
		margin-left: -21px;
	}

.internal .reply {
	display: block;
	padding-top: 30px;
}
.internal .reply p {
	display: block;
	margin-bottom: 20px;
}
	.internal .author {
		display: block;
		overflow: hidden;
		padding: 50px 0 20px 0;
		border-top: 1px solid #cccccc;
		margin-top: 80px;
	}
	.internal .author .image {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		overflow: hidden;
		background-color: #ccc;
		float: left;
	}
		.internal .author .image img {
			width: 100%;
			height: auto;
			display: block;
		}
		.internal .author span {
			float: left;
			margin-left: 10px;
			line-height: 36px;
		}

/* About */
.about h1 {
	display: block;
	margin-bottom: 30px;
}
/* Team Page */
.team {
	overflow: hidden;
}
.team h2 {
	text-align: center;
}
.team .members {
	width: calc(100% / 3);
	float: left;
	text-align: center;
}
	.team .members .image {
		border-radius: 100px;
		width: 130px;
		height: 130px;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.team .members img {
		width: 100%;
		display: block;
	}
	.team .members .name {
		display: block;
		font-weight: 600;
	}

/* Profile Page */
.profile-info {
	overflow: hidden;
}
	.profile-info .cntc-btn {
		clear: both;
		width: 100%;
		text-align: center;
		padding-top: 30px;
	}

	.profile-info .leftside,
	.profile-info .rightside {
		width: 50%;
		float: left;
		padding: 40px 0;
	}
		.profile-info .leftside {
			border-right: 1px solid #CCCCCC;
		}
		.profile-info .leftside .contact-info li {
			margin-bottom: 10px;
			color: #2980B9;
			font-size: 16px;
		}
		.profile-info .leftside .contact-info li a {
			color: #2980B9;
			font-size: 16px;
		}

		.profile-info .leftside .image {
			width: 149px;
			height: 149px;
			overflow: hidden;
			border-radius: 50%;
			float: left;
			margin-bottom: 50px;
		}
			.profile-info .leftside .image img {
				display: block;
				width: 100%;
			}

			.profile-info .leftside .text {
				margin-left: 30px;
				float: left;
				padding-top: 30px;
			}
				.profile-info .leftside .text .name {
					font-size: 22px;
					display: block;
					color: #211F1F;
					font-weight: 600;
					margin-bottom: 10px;
				}
				.profile-info .leftside .text .spec {
					font-size: 18px;
					display: block;
					color: #888888;
					font-weight: 400;
					margin-bottom: 10px;
				}
				.profile-info .leftside .text ul li {
					float: left;
				}
					.profile-info .leftside .text ul li a {
						color: #999999;
						font-size: 14px;
						margin-right: 20px;
					}
						.profile-info .leftside .text ul li a:hover {
							color: #2D3E4D;
						}

		.profile-info .rightside {
			padding-left: 40px;
		}
			.profile-info .rightside p {
				font-size: 14px;
				color: #777777;
				line-height: 22px;
			}

/* Message of ask question */
.message-sent {
	width: 100%;
	padding: 50px 0;
	text-align: center;
	display: none;
}
	.message-sent h3 {
		font-size: 28px;
		display: block;
		color: #287FB8;
		margin-bottom: 10px;
	}
	.message-sent span {
		font-size: 22px;
		display: block;
		color: #777777;
		margin-bottom: 20px;
	}
	.message-sent .message-options {
		font-size: 16px;
		color: #777777;
		display: inline-block;
		margin-right: 20px;
		padding: 5px 10px;
	}
		.message-sent a:hover {
			text-decoration: underline;
		}
		.message-sent a:first-of-type {
			border-right: 1px solid #777;
			padding-right: 30px;
		}

/* Alerts */
.alert {
	background: #fff;
	padding: 10px 20px;
	border-radius: 3px;
	width: 100%;
	display: block;
  position: relative;
  z-index: 6;
  
}
	.alert .close {
		float: right;
	    font-size: 21px;
	    font-weight: 700;
	    line-height: 1;
	    color: #000;
	    cursor: pointer;
	    text-shadow: 0 1px 0 #fff;
	    filter: alpha(opacity=20);
	    opacity: .2;
     
	}
	.alert.alert-danger {
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1;
   
	}
	.alert-success {
	    color: #3c763d;
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
     
	}
	.alert-info {
	    color: #31708f;
	    background-color: #d9edf7;
	    border-color: #bce8f1;
     
	}
	.alert-warning {
	    color: #8a6d3b;
	    background-color: #fcf8e3;
	    border-color: #faebcc;
     
	}

/* Footer
============================================================ */
footer {
	overflow: hidden;
	background-color: #222222;
	padding: 80px 0;
	color: #ffffff;
}
	footer .re-foot {
		border-top: 1px solid #4E4E4E;
		padding-top: 40px;
		width: 100%;
		margin-top: 40px;
		clear: both;
	}
		footer .re-foot span {
			font-size: 15px;
			color: #fff;
		}

	footer .mini-about {
		float: left;
		width: 380px;
		margin-bottom: 40px;
		font-size: 15px;
	}
		footer .mini-about img {
			display: block;
			margin-bottom: 30px;
		}

	footer .links {
		float: left;
		width: 380px;
		margin-bottom: 40px;
		font-size: 15px;
		margin-left: 90px;
	}
		footer .links span {
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 20px;
			display: block;
		}
		footer .links a {
			display: block;
			color: #ffffff;
			font-size: 15px;
			margin-bottom: 10px;
		}
			footer .links a:hover {
				text-decoration: underline;
			}

	footer .social {
		float: right;
	}


/* Smartphones (landscape) ———– */
@media only screen and (min-width: 320px) and (max-width: 479px) {

	.wrapper {
		width: 100%;
		padding: 0 30px;
	}
	.wrapper.w768 {
		width: 100%;
		padding: 0 30px;
	}
		.wrapper.w768 img {
			width: 100%;
		}
		.about-author .image {
			float: none;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		.about-author .text {
			float: none;
			width: 100%;
			text-align: center;
		}

	/* Header */
	header {
		height: 850px;
	}
	header .logo {
		margin: 0 auto;
		margin-bottom: 50px;
	}
	header .wrapper div {
		width: 100%;
		float: none;
	}
		header .wrapper div.left { text-align: center; margin-top: 30px; }
		header .wrapper div.left .button {
			display: block;
			width: 100%;
		}
		header .wrapper div.right {
			margin-top: 30px;
		}
		header .wrapper div.right iframe {
			width: 100%;
			height: auto;
		}

	/* Mobile Nav */
	.navigation {
		margin-top: 0px;
		margin-bottom: 30px;
		float: none;
		display: none;
		text-align: center;
		overflow: hidden;
		border: 1px solid #ffffff;
		border-top: none;
	}
		.navigation a {
			display: block;
			float: none;
			padding: 10px 0;
			border-bottom: 1px solid #fff;
			margin: 0;
		}
			.navigation a:last-child {
				border: none;
			}

	.mobile {
		display: block;
		color: #ffffff;
	}
		.mobile.dropped {
			background: #ffffff;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			color: #000;
		}

	.data-fields .columns.two {
		width: 100%;
		padding-right: 0;
	}

	/* Tabs */
	.data-fields .columns.two:first-child,
	.data-fields .columns.two:last-child {
		width: 100%;
		padding: 0;
	}
	.data-fields .columns.three,
	.topics .columns.two > div {
		width: 100%;
		float: none;
	}
		.topics .columns.two > div:first-child {
			margin-bottom: 40px;
		}
		.topics .columns.two > div:first-child,
		.topics .columns.two > div:last-child {
			border-right: none;
			padding: 0;
		}

		/* Title Tabs */
		#tabs .options > span:nth-child(1),
		#tabs .options > span,
		#tabs .options > span:last-child {
			width: 100%;
			border-right: none;
			border-bottom: 1px solid #ddd;
			padding-bottom: 10px;
			font-size: 27px;
			margin: 0 !important;
		}

	/* Footer */
	footer .mini-about {
		width: 100%;
		float: none;
		text-align: center;
	}
		footer .mini-about img { margin: 0 auto; margin-bottom: 30px; }

	footer .links {
		width: 100%;
		float: none;
		margin-left: 0;
		text-align: center;
	}
	footer .social {
		float: none;
		text-align: center;
		width: 100%;
	}

	/* Questions */
	.questions a {
		width: 100%;
	}

	/* SPonsor */
	.sponsor li {
		width: 100%;
		margin-bottom: 40px;
	}
		.sponsor li img {
			display: block;
			margin: 0 auto;
		}
	/* Title */
	section .title {
		text-align: center;
	}
		section .title h1 {
			margin: 0;
			float: none;
			border-right: none;
			padding: 0;
			display: block;
		}
		section .title span {
			display: block;
			float: none;
		}

		/* Process */
		.process div {
			width: 100%;
			float: none;
			margin-bottom: 110px;
		}
			.process div:last-child {
				margin-bottom: 0;
			}
			.process div:after {
				top: calc(100% + 30px);
				right: 50%;
				margin-right: -30px;
				-ms-transform: rotate(90deg); /* IE 9 */
			    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			    transform: rotate(90deg);
			}

	/* Profile Info */
	.profile-info .leftside {
		border-right: none;
		text-align: center;
	}
		.profile-info .leftside .image {
			margin: 0 auto;
			float: none;
		}
		.profile-info .leftside .text {
			margin-bottom: 30px;
		}
	.profile-info .leftside,
	.profile-info .rightside {
		width: 100%;
		float: none;
	}

	.profile-info .rightside {
		text-align: center;
		padding-left: 0;
	}



}









@media only screen and (min-width: 480px) and (max-width: 567px) {

	.wrapper {
		width: 100%;
		padding: 0 30px;
	}
	.wrapper.w768 {
		width: 100%;
		padding: 0 30px;
	}
		.wrapper.w768 img {
			width: 100%;
		}
		.about-author .image {
			float: none;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		.about-author .text {
			float: none;
			width: 100%;
			text-align: center;
		}

	/* Header */
	header {
		height: 800px;
	}
	header .logo {
		margin: 0 auto;
		margin-bottom: 50px;
	}
	header .wrapper div {
		width: 100%;
		float: none;
	}
		header .wrapper div.left { text-align: center; margin-top: 30px; }
		header .wrapper div.left .button {
			display: block;
			width: 100%;
		}
		header .wrapper div.right {
			margin-top: 30px;
		}
		header .wrapper div.right iframe {
			width: 100%;
			height: auto;
		}

	/* Mobile Nav */
	.navigation {
		margin-top: 0px;
		margin-bottom: 30px;
		float: none;
		display: none;
		text-align: center;
		overflow: hidden;
		border: 1px solid #ffffff;
		border-top: none;
	}
		.navigation a {
			display: block;
			float: none;
			padding: 10px 0;
			border-bottom: 1px solid #fff;
			margin: 0;
		}
			.navigation a:last-child {
				border: none;
			}

	.mobile {
		display: block;
		color: #ffffff;
	}
		.mobile.dropped {
			background: #ffffff;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			color: #000;
		}

	/* Tabs */
	.data-fields .columns.two:first-child,
	.data-fields .columns.two:last-child {
		width: 100%;
		padding: 0;
	}
	.data-fields .columns.two {
		width: 100%;
		padding-right: 0;
	}
	.data-fields .columns.three,
	.topics .columns.two > div {
		width: 100%;
		float: none;
	}
		.topics .columns.two > div:first-child {
			margin-bottom: 40px;
		}
		.topics .columns.two > div:first-child,
		.topics .columns.two > div:last-child {
			border-right: none;
			padding: 0;
		}

		/* Title Tabs */
		#tabs .options > span:nth-child(1),
		#tabs .options > span,
		#tabs .options > span:last-child {
			width: 100%;
			border-right: none;
			border-bottom: 1px solid #ddd;
			padding-bottom: 10px;
			font-size: 27px;
		}

	/* Footer */
	footer .mini-about {
		width: 100%;
		float: none;
		text-align: center;
	}
		footer .mini-about img { margin: 0 auto; margin-bottom: 30px; }

	footer .links {
		width: 100%;
		float: none;
		margin-left: 0;
		text-align: center;
	}
	footer .social {
		float: none;
		text-align: center;
		width: 100%;
	}

	/* Questions */
	.questions a {
		width: 100%;
	}

	/* SPonsor */
	.sponsor li {
		width: 100%;
		margin-bottom: 40px;
	}
		.sponsor li img {
			display: block;
			margin: 0 auto;
		}

	/* Title */
	section .title {
		text-align: center;
	}
		section .title h1 {
			margin: 0;
			float: none;
			border-right: none;
			padding: 0;
			display: block;
		}
		section .title span {
			display: block;
			float: none;
		}

	/* Process */
		.process div {
			width: 100%;
			float: none;
			margin-bottom: 110px;
		}
			.process div:last-child {
				margin-bottom: 0;
			}
			.process div:after {
				top: calc(100% + 30px);
				right: 50%;
				margin-right: -30px;
				-ms-transform: rotate(90deg); /* IE 9 */
			    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			    transform: rotate(90deg);
			}

	/* Profile Info */
	.profile-info .leftside {
		border-right: none;
		text-align: center;
	}
		.profile-info .leftside .image {
			margin: 0 auto;
			float: none;
		}
		.profile-info .leftside .text {
			margin-bottom: 30px;
			float: none;
			text-align: center;
		}
		.profile-info .leftside .text ul li {
			display: inline-block;
			float: none;
		}
	.profile-info .leftside,
	.profile-info .rightside {
		width: 100%;
		float: none;
	}

	.profile-info .rightside {
		text-align: center;
		padding-left: 0;
	}

}









@media only screen and (min-width: 568px) and (max-width: 767px) {

	.wrapper {
		width: 100%;
		padding: 0 30px;
	}
	.wrapper.w768 {
		width: 100%;
		padding: 0 30px;
	}
		.wrapper.w768 img {
			max-width: 100%;
		}

	/* Header */
	header {
		height: 900px;
	}
	header .logo {
		margin: 0 auto;
		margin-bottom: 50px;
	}
	header .wrapper div {
		width: 100%;
		float: none;
	}
		header .wrapper div.left { text-align: center; margin-top: 30px; }
		header .wrapper div.left .button {
			display: block;
			width: 100%;
		}
		header .wrapper div.right {
			margin-top: 30px;
		}
		header .wrapper div.right iframe {
			width: 100%;
			height: 350px;
		}

	/* Mobile Nav */
	.navigation {
		margin-top: 0px;
		margin-bottom: 30px;
		float: none;
		display: none;
		text-align: center;
		overflow: hidden;
		border: 1px solid #ffffff;
		border-top: none;
	}
		.navigation a {
			display: block;
			float: none;
			padding: 10px 0;
			border-bottom: 1px solid #fff;
			margin: 0;
		}
			.navigation a:last-child {
				border: none;
			}

	.mobile {
		display: block;
		color: #ffffff;
	}
		.mobile.dropped {
			background: #ffffff;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			color: #000;
		}

	/* Tabs */
	.data-fields .columns.two:first-child,
	.data-fields .columns.two:last-child {
		width: 100%;
		padding: 0;
	}
	.data-fields .columns.two {
		width: 100%;
		padding-right: 0;
	}
	.data-fields .columns.three,
	.topics .columns.two > div {
		width: 100%;
		float: none;
	}
		.topics .columns.two > div:first-child {
			margin-bottom: 40px;
		}
		.topics .columns.two > div:first-child,
		.topics .columns.two > div:last-child {
			border-right: none;
			padding: 0;
		}

		/* Title Tabs */
		#tabs .options > span:nth-child(1),
		#tabs .options > span,
		#tabs .options > span:last-child {
			width: 100%;
			border-right: none;
			border-bottom: 1px solid #ddd;
			padding-bottom: 10px;
			font-size: 27px;
		}

	/* Footer */
	footer .mini-about {
		width: 100%;
		float: none;
		text-align: center;
	}
		footer .mini-about img { margin: 0 auto; margin-bottom: 30px; }

	footer .links {
		width: 100%;
		float: none;
		margin-left: 0;
		text-align: center;
	}
	footer .social {
		float: none;
		text-align: center;
		width: 100%;
	}

	/* Questions */
	.questions a {
		width: 100%;
	}

	/* SPonsor */
	.sponsor li {
		width: 100%;
		margin-bottom: 40px;
	}
		.sponsor li img {
			display: block;
			margin: 0 auto;
		}

	/* Process */
		.process div {
			width: 100%;
			float: none;
			margin-bottom: 110px;
		}
			.process div:last-child {
				margin-bottom: 0;
			}
			.process div:after {
				top: calc(100% + 30px);
				right: 50%;
				margin-right: -30px;
				-ms-transform: rotate(90deg); /* IE 9 */
			    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
			    transform: rotate(90deg);
			}
	/* Profile Info */
	.profile-info .leftside {
		border-right: none;
		text-align: center;
	}
		.profile-info .leftside .image {
			margin: 0 auto;
			float: none;
		}
		.profile-info .leftside .text {
			margin-bottom: 30px;
			float: none;
			text-align: center;
		}
		.profile-info .leftside .text ul li {
			display: inline-block;
			float: none;
		}
	.profile-info .leftside,
	.profile-info .rightside {
		width: 100%;
		float: none;
	}

	.profile-info .rightside {
		text-align: center;
		padding-left: 0;
	}
}




@media only screen and (min-width: 768px) and (max-width: 960px) {

	.wrapper {
		width: 100%;
		padding: 0 40px;
	}
		header .wrapper div.right iframe {
			width: 100%;
			height: 300px;
		}

	/* Tabs */
	#tabs .options > span {
		line-height: 29px;
	}
		#tabs .options span span {
			line-height: 16px;
    		margin-top: 12px;
		}

	/* SPonsor */
	.sponsor li {
		width: calc(100% / 2);
		margin-bottom: 40px;
	}
		.sponsor li img {
			display: block;
			margin: 0 auto;
		}


	/* Footer */
	footer .mini-about {
		width: 50%;
	}

	footer .links {
		width: 100%;
		float: none;
		margin-left: 0;
		text-align: center;
	}
	footer .social {
		float: none;
		text-align: center;
		width: 100%;
	}

	/* Process */
		.process div img {
			max-width: 90px;
		}
		.process div span {
			font-size: 15px;
		}
			
}




@media only screen and (min-width: 961px) and (max-width: 1100px) {
	.wrapper {
		width: 100%;
		padding: 0 40px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
header {
background-size: cover;
background-attachment: inherit;
background-image: url(../images/bg/background-abogadazo.jpg);
background-repeat: no-repeat;
background-position: center center;
}
}