@charset "UTF-8";
/* ----------------------------
- Copyright 2017, Abogadazo.com All rights reserved.
- Authors: Ricardo De León
*/

/* General Classes
 ============================================================ */
h2 {
    font-size: 18px;
    display: block;
    color: #1F1F1F;
    margin-bottom: 30px;
    clear: both;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.clearfix {
	display: block;
	clear: both;
}

p { margin-bottom:10px; }

a, a:visited { text-decoration: none; }
	a:hover{ }

.read-more-post {
	display: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.button {
	display: inline-block;
	font-size: 14px;
	color: #666666;
	border-radius: 50px;
	padding: 0 40px 0 30px;
	font-weight: 500;
	background-color: #fafafa;
	line-height: 40px;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
	.button:hover {
		opacity: .9;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	.button.blue {
		background-color: #2980B9;
		color: #ffffff;
		background-image: url(../images/icn/1489265930_ic_keyboard_arrow_right.png);
		background-repeat: no-repeat;
		background-position: 90% 55%;
    background-size: 18px auto;
	}
		.button.blue.phone {
			background-image: url(../images/icn/1489267306_Call01_white.png);
			background-repeat: no-repeat;
			background-position: 94% 50%;
  		background-size: 16px auto;
		}
		.button.blue.transparent {
			background-color: transparent;
			border: 2px solid #2980B9;
			color: #2980B9;
			line-height: 36px;
		}
			.button.blue.transparent.phone {
				background-image: url(../images/icn/1489267306_Call01_blue.png);
				background-repeat: no-repeat;
				background-position: 88% 50%;
    		background-size: 16px auto;
			}

	.button.grey {
		background-color: #525252;
		color: #ffffff;
		background-image: url(../images/icn/1489265930_ic_keyboard_arrow_right.png);
		background-repeat: no-repeat;
		background-position: 90% 55%;
    background-size: 18px auto;
	}
		.button.grey.transparent {
			background-color: transparent;
			border: 2px solid #525252;
			line-height: 36px;
			color: #525252;
		}
		.button.grey.transparent.phone {
			/*525252*/
			background-image: url(../images/icn/1489267306_Call01_grey.png);
			background-repeat: no-repeat;
			background-position: 88% 50%;
			background-size: 16px auto;
		}

	.button.white {
		background-color: #ffffff;
		color: #2980B9;
		background-image: url(../images/icn/1489265930_ic_keyboard_arrow_right_blue.png);
		background-repeat: no-repeat;
		background-position: 90% 55%;
    background-size: 18px auto;
	}
		.button.white.transparent {
			background-color: transparent;
			border: 2px solid #ffffff;
			color: #ffffff;
			line-height: 36px;
		}
			.button.white.transparent.phone {
				background-image: url(../images/icn/1489267306_Call01_white.png);
				background-repeat: no-repeat;
				background-position: 88% 50%;
    		background-size: 16px auto;
			}

	/* Read More Link */
	.readmore {
		display: block;
		font-size: 14px;
		font-weight: 500;
		color: #666666;
		background-image: url(../images/icn/1489265930_ic_keyboard_arrow_right_blue.png);
		background-repeat: no-repeat;
		background-position: 55% 20%;
    background-size: 18px auto;
	}

	/* TAGS */
	.tags {
		display: block;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.tags a {
		color: #2980B9;
		border: 1px solid #2980B9;
		padding: 0 10px;
		font-size: 13px;
		border-radius: 50px;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		line-height: 30px;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
		.tags a:hover {
			color: #ffffff;
			background-color: #2980B9;
			transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
		}



	/* SOCIALS NETWORK */
	.socials {}
		.socials a {
			width: 30px;
			height: 30px;
			background-color: #ccc;
			display: inline-block;
			border-radius: 50px;
		}
			.socials a.fb {
				background-color: #3b5998;
				background-image: url(../images/icn/1492582559_Facebook_Solid_white.png);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 8px auto;
			}
			.socials a.tw {
				background-color: #55acee;
				background-image: url(../images/icn/1492582659_Twitter_Solid_white.png);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 14px auto;
			}


/* Body
============================================================ */
body {
 	background: #FFF;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

/* Wrapper
 ============================================================ */
 .wrapper {
 	margin: 0 auto;
 	width: 960px;
 }

 section {
 	padding: 60px 0;
 }

 h1 {
 	display: block;
 	font-size: 32px;
 	margin-bottom: 40px;
  font-weight: 500;
  color: #4a4a4a;
 }

/* Header
============================================================ */
header {
	border-bottom: 4px solid #2980B9;
	padding: 40px 0;
}
	header .wrapper {
		width: 960px;
		margin: 0 auto;
	}
	header .wrapper .logo {
		width: 180px;
	}
	header nav {
		float: right;
		position: relative;
		top: 6px;
		margin-right: 50px;
	}
	header nav.slided {
		right: 0;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	} 
	header .nav-icon-mobile {
		width: 30px;
		height: 30px;
		display: none;
		background-image: url(../images/icn/1492841638_editor-list-view-hambuger-menu-glyph.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		float: right;
    margin-right: 10px;
	}
	header nav a {
		color: #666666;
		display: inline-block;
		text-transform: uppercase;
		position: relative;
		margin-left: 50px;
		font-weight: 500;
    font-size: 13px;
	}
		header nav a.active {
			color: #2980B9;
		}
		header nav a.active:after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: #2980B9;
			display: inline-block;
			position: absolute;
			bottom: -4px;
			left: 0;
		}
		header nav a:hover:after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: #2980B9;
			display: inline-block;
			position: absolute;
			bottom: -4px;
			left: 0;
		}

		header nav .header-nav-mobile {
			position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    display: none;
		}
		header nav .header-nav-mobile img {}
		header nav .header-nav-mobile .close-nav {
			display: inline-block;
	    width: 30px;
	    height: 30px;
	    background-color: #2980B9;
	    background-image: url(../images/icn/1492210248_icon-close-round.png);
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: 14px auto;
	    border-radius: 50px;
	    position: absolute;
	    top: 20px;
	    right: 20px;
		}

	/* SEARCH */
	header .search {
		float: right;
	}
	header .search .search-cta {
		display: inline-block;
    width: 30px;
    cursor: pointer;
    height: 30px;
    border: 1px solid #ccc;
    background-image: url(../images/icn/1489266171_icon-111-search.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px auto;
    border-radius: 2px;
    transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	header .search .search-cta.dropped {
		background-image: url(../images/icn/1492210248_icon-close-round.png);
		background-size: 14px auto;
		background-color: #2980B9;
		border-color: #2980B9;
		border-radius: 50px;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}


	/* SEARCH BAR */
	.search-bar {
		margin-top: 10px;
		position: relative;
	}
	.search-bar:after {
		content: "Presiona ENTER para buscar";
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 11px;
    color: #2980B9;
    opacity: .5;
	}
	.search-bar input {
		width: 100%;
    height: 45px;
    padding: 0 20px;
    border-radius: 3px;
    border-color: #2980B9;
    background-color: #ffffff;
    color: #2980B9;
	}

	.search-bar input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #d2d2d2;
	}
	.search-bar input::-moz-placeholder { /* Firefox 19+ */
	  color: #d2d2d2;
	}
	.search-bar input:-ms-input-placeholder { /* IE 10+ */
	  color: #d2d2d2;
	}
	.search-bar input:-moz-placeholder { /* Firefox 18- */
	  color: #d2d2d2;
	}
 
/* Content
============================================================ */
.content {
}

.fold-cta {
	padding: 60px 0;
	background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/bg/iStock_000064834499_Medium.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.fold-cta .wrapper {
	overflow: hidden;
}

	/* VIDEO */
	.fold-cta .wrapper .video {
		width: 60%;
		float: left;
		height: 300px;
		background-color: #ccc;
	}

	/* CTA */
	.fold-cta .wrapper .cta {
		width: calc(40% - 10px);
		float: left;
		margin-left: 10px;
		height: 300px;
		background-color: #ffffff;
	}
		.fold-cta .wrapper .cta a {
			display: block;
			height: calc(100% / 3);
			position: relative;
			padding: 23px 0 0 70px;
		}
			.fold-cta .wrapper .cta a:after {
				content: "";
		    position: absolute;
		    width: 80%;
		    height: 1px;
		    background-color: #e6e6e6;
		    bottom: 0;
		    left: 35px;
			}
				.fold-cta .wrapper .cta a:last-child:after {
					display: none;
				}

			.fold-cta .wrapper .cta a.call {
				background-image: url(../images/icn/1491459851_phone.png);
				background-repeat: no-repeat;
		    background-position: 18px 27px;
		    background-size: 36px auto;
			}
			.fold-cta .wrapper .cta a.question {
				background-image: url(../images/icn/1491459934_question-circle.png);
				background-repeat: no-repeat;
		    background-position: 18px 27px;
		    background-size: 36px auto;
			}
			.fold-cta .wrapper .cta a.articles {
				background-image: url(../images/icn/1491459854_news.png);
				background-repeat: no-repeat;
		    background-position: 18px 27px;
		    background-size: 36px auto;
			}

			.fold-cta .wrapper .cta a .title {
				display: block;
				font-size: 17px;
				color: #2980B9;
				font-weight: 500;
				margin-bottom: 10px;
			}
			.fold-cta .wrapper .cta a .copy {
				display: block;
				font-size: 13px;
				color: #666666;
			}
				.fold-cta .wrapper .cta a .copy b {
					color: #2980B9;
					font-weight: 600;
				}


		/* Legal Topics */
		.legal-topics {
			background-color: #fafafa;
		}
		.legal-topics .wrapper {}
		.legal-topics h1 {
			margin-bottom: 60px;
		}
		.legal-topics .wrapper .topics {
			overflow: hidden;
			padding-bottom: 5px;
		}
		.legal-topics .wrapper .topics li {
			float: left;
			width: 245px;
			margin-right: 110px;
		}
			.legal-topics .wrapper .topics li:nth-child(3n) {
				margin-right: 0;
			}
			.legal-topics .wrapper .topics li a {
				display: block;
				background-color: #ffffff;
				box-shadow: 1px 1px 1px #e8e8e8;
				padding: 50px 20px;
				border-radius: 2px;
				text-align: center;
				color: #666;
				transition: all 0.2s linear;
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
			}
				.legal-topics .wrapper .topics li a:hover {
					color: #fff;
					background-color: #2980B9;
					transition: all 0.2s linear;
					-webkit-transition: all 0.2s linear;
					-moz-transition: all 0.2s linear;
					-o-transition: all 0.2s linear;
				}
				.legal-topics .wrapper .topics li a .text {
					display: block;
				}
				.legal-topics .wrapper .topics li a .icon {
					display: inline-block;
					/*background-color: #fafafa;*/
					border-radius: 2px;
					margin-bottom: 20px;
					height: 50px;
					width: 50px;
				}
					.legal-topics .wrapper .topics li a .icon.imigration {
						background-image: url(../images/icn/passports-512.png);
						background-size: 50px auto;
						background-repeat: no-repeat;
						background-position: center center;
					}
					.legal-topics .wrapper .topics li a:hover .icon.imigration {
						background-image: url(../images/icn/passports-512_white.png);
					}

	/* ARTICLES */
	.articles {}
	.articles .wrapper {}
	.articles .wrapper h1 {
		text-align: center;
		font-size: 25px;
		margin-bottom: 60px;
	}
		.articles .wrapper h1 b {
			font-weight: 600;
		}

	.articles .wrapper .colum-thumbs {
		display: block;
		overflow: hidden;
	}
	.articles .wrapper .colum-thumbs .thumb {
		width: calc(100% / 3 - 30px);
		float: left;
		margin-right: 45px;
	}
		.articles .wrapper .colum-thumbs .thumb:nth-child(3n) { margin-right: 0; }
	.articles .wrapper .colum-thumbs .thumb img {
		width: 100%;
		display: block;
	}
	.articles .wrapper .colum-thumbs .thumb h2 {
		display: block;
		font-size: 18px;
		margin: 20px 0;
		font-weight: 500;
	}
	.articles .wrapper .colum-thumbs .thumb p {
		display: block;
		line-height: 22px;
		font-size: 14px;
		margin-bottom: 20px;
	}

	.articles .wrapper .colum-thumbs .thumb.tag-system {
		background-color: #eeeeee;
		height: 400px;
		padding: 30px;
	}
		.articles .wrapper .colum-thumbs .thumb.tag-system h2 {
			margin-top: 0;
			padding: 0;
		}


	/* MAP AND LOCATIONS */
	.map-location {
		overflow: hidden;
	}
	.map-location .map {
		width: calc(100% - 400px);
		float: left;
		background-color: #fafafa;
		height: 300px;
	}
	.map-location .locations {
		float: left;
		background-color: #61abdc;
		width: 400px;
		padding: 30px;
		height: 300px;
	}
		.map-location .locations h2 {
			display: block;
			color: #ffffff;
			font-size: 22px;
			margin-bottom: 5px;
			font-weight: 500;
		}
		.map-location .locations .mod {
			padding-left: 40px;
			margin-top: 20px;
		}
		.map-location .locations .mod h2 {
			font-size: 16px;
			margin-bottom: 15px;
			position: relative;
		}
			.map-location .locations .mod h2:after {
				content: "";
		    width: 20px;
		    height: 20px;
		    display: inline-block;
		    background-image: url(../images/icn/a8926a2f0f436edd64e2fd0c85ddbd44_download-this-image-as-location-pin-clipart_366-592.png);
		    background-position: center center;
		    background-size: 12px auto;
		    background-repeat: no-repeat;
		    position: absolute;
		    left: -27px;
		    top: -2px;
			}

		.map-location .locations .mod span {
			color: #ffffff;
			font-size: 14px;
			margin-bottom: 5px;
			display: block;
		}

/* INTERNAL HEADER */
.internal-header {}
.internal-header h1 {
	color: #ffffff;
	font-size: 38px;
	margin-bottom: 20px;
}
.internal-header p {
	color: #ffffff;
	width: 50%;
}

/* INTERNAL HEADER POST */
.internal-header-post {
	background-image: none;
	background-color: #fafafa;
}
.internal-header-post h1 {
	color: #2980B9;
	font-size: 38px;
	margin-bottom: 20px;
}
.internal-header-post .cat-tag {
	font-size: 20px;
	color: #666;
	font-weight: 500;
}
.internal-header-post p {
	color: #ffffff;
	width: 50%;
}


/* ABOUT US COPY */
.about-copy {
	background-color: #ffffff;
}
.about-copy .wrapper {
	overflow: hidden;
}
.about-copy .wrapper .left {
	float: left;
	width: 50%;
	position: relative;
	background-color: #ffffff;
}
	.about-copy .wrapper .left img {
		width: 200px;
		display: block;
		margin: 0 auto;
		position: relative;
    top: 110px;
	}

.about-copy .wrapper .right {
	float: left;
	width: 50%;
	position: relative;
}
	.about-copy .wrapper .right p {
		color: #666666;
		margin-bottom: 10px;
		line-height: 22px;
	}

/* HELP FOLD */
.helps {}
.helps {
	overflow: hidden;
	padding: 0;
	background-color: #fafafa;
}
.helps .left {
	float: left;
	width: 50%;
	position: relative;
	height: 400px;
}
	.helps .vcenter {
		position: absolute;
		padding: 0 100px;
    top: 50%;
    transform: translateY(-50%);
	}
	.helps .left h2 {
		color: #666666;
		font-size: 38px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.helps .left p {
		color: #666666;
		font-size: 15px;
		margin-bottom: 30px;
	}
.helps .right {
	float: left;
	height: 400px;
	width: 50%;
	background-image: url(../images/bg/Hispanic-Community.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

/* TOPICS ABOUT FOLD */
.topics-about-fold {}
.topics-about-fold {
	overflow: hidden;
	padding: 0;
	background-color: #fafafa;
}
.topics-about-fold .left {
	float: left;
	height: 500px;
	width: 50%;
	background-image: url(../images/misc/topics.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 70%;
	background-color: #ffffff;
}
	.topics-about-fold .vcenter {
		position: absolute;
		padding: 0 100px;
    top: 50%;
    transform: translateY(-50%);
	}
	.topics-about-fold h2 {
		color: #666666;
		font-size: 38px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.topics-about-fold p {
		color: #666666;
		font-size: 15px;
		margin-bottom: 30px;
	}
.topics-about-fold .right {
	float: left;
	width: 50%;
	background-color: #ffffff;
	position: relative;
	height: 500px;
}


/* MORE HELP */
.more-help {
	background-color: #fafafa;
}
.more-help .wrapper {
	text-align: center;
}
.more-help .wrapper span {
	color: #666;
	font-size: 22px;
	font-weight: 500;
	margin-right: 40px;
}
.more-help .wrapper a {}



/* POST CONTENT */
.post-content {
	padding-top: 0;
}
.post-content .wrapper {
	overflow: hidden;
}
.post-content .wrapper sidebar {
	width: 300px;
	float: left;
}
.post-content .wrapper .content-article {
	width: calc(100% - 300px);
	float: left;
	padding-right: 60px;
}
	.post-content .wrapper article p {
		color: #666666;
		line-height: 22px;
		text-align: justify;
	}
	.post-content .wrapper article img {
		display: block;
		margin-bottom: 20px;
		width: 100%;
	}

	.post-content .wrapper .content-article .social {
		position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
	}
		.post-content .wrapper .content-article .social .socials {
			float: left;
		}
		.post-content .wrapper .content-article .social .tag-contact-with-me {
			font-size: 12px;
	    color: #666;
	    font-weight: 500;
	    line-height: 13px;
	    width: 65px;
	    float: left;
		}

	.post-content .wrapper .content-article .more-tags > span {
		display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
    margin: 40px 0 20px 0;
	}

	.post-content .wrapper .content-article .author {
		border: 1px solid #ccc;
		border-right: none;
		border-left: none;
		position: relative;
		padding: 20px 0;
		margin-top: 40px;
		width: 100%;
		display: block;
		overflow: hidden;
	}
		.post-content .wrapper .content-article .author .photo {
			width: 80px;
			height: 80px;
			border: 1px solid #ccc;
			border-radius: 100px;
			float: left;
			margin-right: 10px;
		}
		.post-content .wrapper .content-article .author .info {
			float: left;
	    position: absolute;
	    width: calc(100% - 290px);
	    left: 120px;
	    top: 50%;
	    transform: translateY(-50%);
		}
			.post-content .wrapper .content-article .author .info .name {
				display: block;
				text-transform: uppercase;
				font-size: 14px;
				color: #666;
				margin-bottom: 10px;
				font-weight: 600;
			}
				.post-content .wrapper .content-article .author .info .name b {
					color: #2980B9;
				}
			.post-content .wrapper .content-article .author .info .desc {
				display: block;
				font-size: 12px;
				color: #666;
			}

			.post-content .wrapper .content-article.category-posts article {
				margin-bottom: 50px;
				border-bottom: 1px solid #ccc;
				padding-bottom: 50px;
			}

	/* SIDEBAR POST */
	.post-content .wrapper sidebar {
		padding: 20px 0;
	}
	.post-content .wrapper sidebar .module {
		margin-bottom: 30px;
	}
	.post-content .wrapper sidebar .module .title-white {
		color: #444444;
    display: block;
    font-size: 20px;
    font-weight: 600;
	}
	.post-content .wrapper sidebar .module .title {
		color: #444444;
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
	}

	/* SOCIAL SHARE */
	.post-content .wrapper sidebar .module .social.share {
		text-align: right;
		display: block;
    overflow: hidden;
	}
	.post-content .wrapper sidebar .module .social.share .socials {
		float: right;
	}
	.post-content .wrapper sidebar .module .social.share .tag-contact-with-me {
		font-size: 12px;
		float: right;
    color: #666;
    font-weight: 500;
    line-height: 30px;
    width: 85px;
    margin-right: 20px;
	}

	/* SLIDER */
	.flex-control-nav { display: none !important; }
	.post-content .wrapper sidebar .module .flexslider {
		margin-bottom: 0;
	}
	.post-content .wrapper sidebar .module .flexslider .slides img {
		width: 190px !important;
		display: block;
    margin: 0 auto;
	}
	.post-content .wrapper sidebar .module .flex-direction-nav .flex-prev {
		left: 0;
    opacity: 1;
    height: 30px;
		width: 30px;
		display: inline-block;
		background-image: url(../images/icn/arrow_left.png);
		background-size: 17px auto;
    background-repeat: no-repeat;
    background-position: center center;
		text-indent: 99999px;
	}
	.post-content .wrapper sidebar .module .flex-direction-nav .flex-next {
		right: 0;
		opacity: 1;
		height: 30px;
		width: 30px;
		display: inline-block;
		background-image: url(../images/icn/arrow_right.png);
		background-size: 17px auto;
    background-repeat: no-repeat;
    background-position: center center;
		text-indent: 99999px;
	}

	/* TELL HISTORY */
	.post-content .wrapper sidebar .module .tell-history {}
		.post-content .wrapper sidebar .module .tell-history .title {
			color: #444444;
	    background-color: #eeeeee;
	    display: block;
	    font-size: 20px;
	    font-weight: 600;
	    padding: 20px;
		}
		.post-content .wrapper sidebar .module .tell-history form textarea {
			width: 100%;
			background-color: #f8f8f8;
			padding: 20px;
			height: 95px;
			border: none;
			border-bottom: 2px solid #eeeeee;
			resize: none;
			font-weight: 500;
	    font-size: 13px;
		}
		.post-content .wrapper sidebar .module .tell-history form input {
			width: 100%;
			background-color: #f8f8f8;
			padding: 0 20px;
			height: 55px;
			border: none;
			border-bottom: 2px solid #eeeeee;
			font-weight: 500;
	    font-size: 13px;
		}
		.post-content .wrapper sidebar .module .tell-history form button {
			width: 100%;
			background-color: #2980B9;
			height: 50px;
			border: none;
			color: #ffffff;
			cursor: pointer;
			font-weight: 500;
			font-size: 14px;
		}

	/* RELATED POST SIDEBAR */
	.post-content .wrapper sidebar .module .related-post-sidebar {
		background-color: #eeeeee;
	}
	.post-content .wrapper sidebar .module .related-post-sidebar .title {
		padding: 30px 20px;
	}
	.post-content .wrapper sidebar .module .related-post-sidebar a {
		display: block;
		padding-bottom: 20px;
	}
		.post-content .wrapper sidebar .module .related-post-sidebar .more-articles {
			padding: 0 20px 20px 20px;
		}
		.post-content .wrapper sidebar .module .related-post-sidebar a.readmore {
			padding-bottom: 0;
			display: block;
		}

	.post-content .wrapper sidebar .module .related-post-sidebar .post {
		overflow: hidden;
		padding: 0 20px;
	}
	.post-content .wrapper sidebar .module .related-post-sidebar .post .image {
		float: left;
		width: 100px;
	}
	.post-content .wrapper sidebar .module .related-post-sidebar .post .image img {
		display: block;
		width: 100%;
	}
	.post-content .wrapper sidebar .module .related-post-sidebar .post .copy {
		font-size: 15px;
		padding-left: 15px; 
		font-weight: 600;
		color: #2980b9;
		float: left;
		width: calc(100% - 115px);
	}

	.post-content .wrapper sidebar .module .related-post-sidebar.tags {}
	.post-content .wrapper sidebar .module .related-post-sidebar.tags .tags {
		padding: 0 20px;
	}
	.post-content .wrapper sidebar .module .related-post-sidebar.tags .tags a {
		padding-bottom: 0;
	}

/* PAGINATION ==================== */
.pagination {
	text-align: center;
}
.pagination .pag {
	display: block;
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 10px;
}
.pagination .pages {}
.pagination .pages a:first-child,
.pagination .pages a:last-child {
	padding: 0 15px;
}
.pagination .pages a {
	display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 0 8px;
  font-weight: 500;
  color: #444444;
  line-height: 25px;
  transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
	.pagination .pages a:hover {
		border-color: #2980b9;
		background-color: #2980b9;
		color: #ffffff;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}



/* CONTACT PAGE */
.contact-form {}
.contact-form h2 {
	color: #444;
  font-size: 20px;
  margin-bottom: 50px;
}
	.contact-form h2 a {
		background: #2980b9;
    color: #fff;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    display: inline-block;
	}

.contact-form form {
	overflow: hidden;
}
.contact-form form fieldset {
	float: left;
	width: 50%;
}
.contact-form form fieldset:first-child {
	padding-right: 20px;
}
.contact-form form input {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	border-radius: 50px;
	height: 40px;
	font-size: 15px;
	width: 100%;
	padding: 0 20px;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
.contact-form form textarea {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	border-radius: 15px;
	height: 140px;
	resize: none;
	font-size: 15px;
	width: 100%;
	padding: 20px;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
	.contact-form form textarea:focus,
	.contact-form form input:focus {
		border-color: #2980b9;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}

.contact-form form button {
	color: #ffffff;
	background: #2980b9;
	padding: 0 20px;
	height: 35px;
	cursor: pointer;
	float: right;
	font-weight: 500;
	font-size: 15px;
	border-radius: 50px;
}
 
/* Footer
============================================================ */
	footer {
		width: 100%;
		display: block;
	}

	footer .blue-bar {
		background-color: #2980B9;
		color: #ffffff;
		padding: 40px 0;
		overflow: hidden;
	}
		footer .blue-bar .copy {
			font-size: 22px;
			line-height: 40px;
			float: left;
		}
		footer .blue-bar span {
			color: #fff;
			font-size: 16px;
			margin: 0 10px;
		}
		footer .blue-bar .right-content {
			float: right;
		}



	footer .last-bar {
		background-color: #666666;
		color: #ffffff;
		padding: 40px 0;
	}
		footer .last-bar .links {}
		footer .last-bar .links a {
			display: inline-block;
			color: #ffffff;
			margin-bottom: 20px;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 500;
			margin-right: 40px;
			transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
		}
		footer .last-bar .links.last {}
		footer .last-bar .links.last a {
			color: #999;
			text-transform: none;
			font-weight: 400;
			margin-bottom: 0;
			transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			font-size: 13px;
			-o-transition: all 0.2s linear;
		}
		footer .last-bar .links.last span {
			color: #999;
			margin-right: 40px;
			font-size: 13px;
		}
			footer .last-bar .links.last a:hover {
				color: #ffffff;
				transition: all 0.2s linear;
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
			}


/* ==================================== MEDIA QUERIES ==================================== */
@media only screen and (max-width: 767px) and (min-width: 320px)  {

	.wrapper {
		width: 100%;
	}

	/* NAV */
	.search-bar {
		padding: 0 20px;
	}
		.search-bar:after {
			display: none;
		}

	header .wrapper {
		width: 100%;
	}
	header .wrapper .logo {
		margin-left: 20px;
		width: 140px;
	}
	header .search {
		margin-right: 20px;
	}
	header nav {
		position: fixed;
    background: #fff;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    right: -100%;
    z-index: 2;
    right: -100%;
    margin: 0;
    top: 0;
    float: none;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
	}
		header nav a {
			font-weight: 500;
			font-size: 22px;
			display: block;
			line-height: 60px;
		}
		header nav a.active:after {
			display: none;
		}
		header nav .header-nav-mobile {
			display: block;
		}
		header .nav-icon-mobile {
			display: inline-block;
		}

	/* LANDING ============================================= */
		/* First Fold ============= */
		.fold-cta {
			padding: 20px 0 0 0;
		}
		.fold-cta .wrapper .video {
			float: none;
	    width: 100%;
	    margin-bottom: 20px;
	    height: 150px;
	    padding: 0 20px;
	    background-color: transparent;
		}

		.fold-cta .wrapper .cta {
			float: none;
			width: 100%;
			height: auto;
			margin: 0;
		}
			.fold-cta .wrapper .cta a {
				padding-bottom: 23px;
				width: 100%;
    		padding-right: 20px;
			}

		/* Legal Topics ============= */
		.legal-topics {
			padding-bottom: 0;
			padding-top: 30px;
		}
			.legal-topics h1 {
				margin-bottom: 30px;
				font-size: 24px;
				text-align: center;
			}

			.legal-topics .wrapper .topics li {
				width: 100%;
				float: none;
				margin: 0;
			}
			.legal-topics .wrapper .topics li a {
				display: block;
		    float: none;
		    padding: 10px 10px 10px 20px;
		    overflow: hidden;
		    border-bottom: 1px solid #e8e8e8;
			}
				.legal-topics .wrapper .topics li:last-child a {
					border-bottom: none;
				}
			.legal-topics .wrapper .topics li a .icon {
				float: left;
				margin-bottom: 0;
				background-size: 100% auto !important;
				margin-right: 20px;
				width: 30px;
				height: 30px;
			}
			.legal-topics .wrapper .topics li a .text {
				float: left;
		    line-height: 30px;
		    color: #2980B9;
		    font-weight: 500;
		    font-size: 14px;
			}

			.legal-topics .wrapper .topics li a:hover,
			.legal-topics .wrapper .topics li a:hover .text {
				color: #ffffff;
			}

	/* POST THUMBNAILS */
	.articles {
		padding-bottom: 0;
	}
	.articles .wrapper .colum-thumbs .thumb.tag-system {
		margin-bottom: 0;
	}
	.articles .wrapper .colum-thumbs .thumb {
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}
		.articles .wrapper .colum-thumbs .thumb p,
		.articles .wrapper .colum-thumbs .thumb h2 {
			padding: 0 30px;
		}
		.articles .wrapper .colum-thumbs .thumb .button {
			margin-left: 30px;
		}

	/* MAP */
	.map-location .map {
		width: 100%;
		float: none;
	}
		.map-location .locations {
			float: none;
			width: 100%;
		}

	/* BLUE BAR */
	footer .blue-bar {
		text-align: center;
	}
		footer .blue-bar .right-content {
			float: none;
		}
		footer .blue-bar .copy {
			float: none;
			margin-bottom: 30px;
			display: block;
			line-height: 25px;
		}

	/* FOOTER */
	footer {
		text-align: center;
	}
	footer .last-bar .links a,
	footer .last-bar .links.last span {
		display: block;
		margin-right: 0;
	}
	footer .last-bar .links.last a {
		margin-top: 20px;
	}

	/* INTERNAL HEADER */
	.internal-header {
		text-align: center;
		padding-bottom: 20px;
	}
		.internal-header .wrapper {
			width: 100%;
			padding: 0 20px;
		}
		.internal-header p {
			width: 100%;
		}


		/* INFO ABOUT US */
		.about-copy .wrapper {
			padding: 0 20px;
		}
		.about-copy .wrapper .right {
			text-align: center;
		}
		.about-copy .wrapper .left,
		.about-copy .wrapper .right {
			float: none;
			width: 100%;
		}
			.about-copy .wrapper .left {
				margin-bottom: 40px;
			}
			.about-copy .wrapper .left img {
				top: 0;
			}

		/* FLAG FOLD */
		.helps .right,
		.helps .left {
			float: right;
			width: 100%;
		}
			.helps .right {
				height: 215px;
			}
			.helps .left {
				padding: 40px 20px;
				height: 380px;
				margin-bottom: 30px;
			}
				.helps .left .ortxt {
					display: none;
				}

			.helps .vcenter {
				padding: 0;
				top: 0;
				transform: translateY(-0%);
				position: relative;
			}

		/* ITEMS FOLD ABOUT US */
		.topics-about-fold .left {
			width: 100%;
			float: none;
			height: 260px;
			background-size: 100%;
		}
		.topics-about-fold .right {
			width: 100%;
			float: none;
			padding: 40px 20px;
			height: 420px;
		}
			.topics-about-fold .vcenter {
				top: 0;
				transform: translateY(-0%);
				position: relative;
				padding: 0;
			}

	/* POST DETAIL */
	.post-content .wrapper sidebar .module {
		margin-bottom: 0;
	}
	.post-content {
		padding-bottom: 0;
	}
	.post-content .wrapper sidebar .module .related-post-sidebar a.readmore {
		background-position: 28% 20%;
	}
	.post-content .wrapper .content-article,
	.post-content .wrapper sidebar {
		float: none;
		padding-right: 0;
		width: 100%;
	}
	.post-content .wrapper .content-article article.cropped {
		overflow: hidden;
		max-height: 600px;
	}

	.post-content .wrapper .content-article article.cropped:after {
		content: "";
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.99) 66%, rgba(255,255,255,1) 67%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 66%,rgba(255,255,255,1) 67%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 66%,rgba(255,255,255,1) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		position: absolute;
    bottom: -53%;
    left: 0;
    width: 100%;
    height: 100px;
    display: inline-block;
	}

	.read-more-post {
		padding: 0 30px;
		margin-top: 30px;
		display: block;
	}
		.read-more-post .more {
			padding: 0 33px;
		}



	.internal-header-post .wrapper {
		padding: 0 20px;
	}
		.post-content .wrapper article p {
			padding: 0 30px;
		}
		.post-content .wrapper article .button {
			margin-left: 20px;
			margin-top: 20px;
		}

	.internal-header-post .wrapper h1 {
		font-size: 23px;
		padding: 0 20px;
	}

	.internal-header-post .cat-tag {
		padding: 0 20px;
	}

	/* AUTHOR */
	.post-content .wrapper .content-article .author {
		padding: 20px;
	}
	.post-content .wrapper .content-article .social {
		position: relative;
    top: 0;
    transform: translateY(-0%);
    width: 100%;
	}
	.post-content .wrapper .content-article .author .info {
		position: relative;
    top: 0;
    transform: translateY(-0%);
    margin-bottom: 20px;
    float: left;
    left: 0;
    width: calc(100% - 90px);
	}

	/* MORE TAGS */
	.post-content .wrapper .content-article .more-tags {
		padding: 0 20px;
	}
	.post-content .wrapper .content-article .more-tags > span {
		margin-top: 20px;
	}

	/* SOOCIAL SHARE */
	.post-content .wrapper sidebar .module .social.share {
		padding: 0 20px;
	}
	.post-content .wrapper sidebar .module .title-white {
		text-align: center;
	}

	/* MORE HELP */
	.more-help {}
	.more-help .wrapper span {
		margin-bottom: 20px;
		display: block;
		margin-right: 0;
	}

	/* CONTACT */
	.contact-form .wrapper {
		width: 100%;
		padding: 0 20px;
	}
		.contact-form form fieldset {
			width: 100%;
			float: none;
		}
		.contact-form form fieldset:first-child {
			padding-right: 0;
		}
		.contact-form form button {
			float: none;
			width: 100%;
		}


}


/* ipad portrait */
@media only screen and (max-width: 1023px) and (min-width: 768px)  {
	
	header .wrapper {
		width: 100%;
		padding: 0 40px;
	}
	header nav a {
		margin-left: 20px;
	}
	.legal-topics .wrapper,
	.articles .wrapper {
		width: 100%;
		padding: 0 40px;
	}
	footer .blue-bar .wrapper {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
	}
	footer .last-bar .wrapper {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
	}
	.legal-topics .wrapper .topics li {
		width: 195px;
    margin-right: 50px;
	}

	.articles .wrapper .colum-thumbs .thumb {
		width: calc(100% / 2 - 23px);
	}
	.articles .wrapper .colum-thumbs .thumb:nth-child(2) { margin-right: 0; }
	.articles .wrapper .colum-thumbs .thumb.tag-system {
		width: 100%;
		height: 270px;
		margin-top: 40px;
	}

	/* BLUE BAR */
	footer .blue-bar .copy {
		width: 40%;
	}

	/* CTA FOLD */
	.fold-cta .wrapper {
		width: 100%;
		padding: 0 40px;
	}
	.fold-cta .wrapper .video {
		width: 60%;
	}

	/* Logo Copy */
	.helps {
	}
	.about-copy .wrapper {
		width: 100%;
		padding: 0 40px;
	}
		.helps .left {
			padding: 40px;
		}
		.helps .vcenter {
			top: 0;
			padding: 0;
			position: relative;
			transform: translateY(-0%);
		}
		.helps .right {
			background-size: cover;
		}

	.topics-about-fold .left {
		height: 400px;
	}
	.topics-about-fold .right {
    padding: 40px 40px 40px 20px;
    height: 400px;
	}
	.topics-about-fold .vcenter {
		top: 0;
		padding: 0;
		position: relative;
		transform: translateY(-0%);
	}

	/* POST DETAIL */
	.post-content .wrapper {
		width: 100%;
	}
	.post-content .wrapper sidebar {
		width: 258px;
	}
	.post-content .wrapper .content-article {
		width: calc(100% - 295px);
		padding-right: 30px;
	}
		.post-content .wrapper article p {
			padding-left: 40px;
		}
		.post-content .wrapper article .button {
			margin-left: 40px;
			margin-top: 30px;
		}

	.post-content .wrapper .content-article .author {
		padding-left: 20px;
	}
	.post-content .wrapper .content-article .more-tags {
		padding-left: 40px;
	}
	.post-content .wrapper .content-article .more-tags > span {
		margin-top: 20px;
	}

	.more-help .wrapper {
		width: 100%;
	}


	.contact-form .wrapper {
		width: 100%;
		padding: 0 40px;
	}

}