@charset "UTF-8";
/* ----------------------------
- Copyright 2017, Abogadazo.com All rights reserved.
- Authors: Ricardo De León
*/

/* General Classes
 ============================================================ */

.clearfix {
	display: block;
	clear: both;
}

h3 {
	font-weight: 600;
	font-size: 18px;
	color: #444444;
	display: block;
	margin-bottom: 20px;
	margin-top: 10px;
}

p { margin-bottom:10px; }

a, a:visited { text-decoration: none !important; }
	a:hover{ text-decoration: none !important; }

.read-more-post {
	display: none;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.button {
	display: inline-block;
	font-size: 14px;
	color: #666666;
	border-radius: 50px;
	padding: 0 40px 0 30px;
	font-weight: 500;
	background-color: #fafafa;
	line-height: 40px;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
	.button:hover {
		opacity: .9;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	.button.blue {
		background-color: #2980B9;
		color: #ffffff;
		background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489265930_ic_keyboard_arrow_right.png);
		background-repeat: no-repeat;
		background-position: 90% 55%;
    background-size: 18px auto;
	}
		.button.blue.phone {
			background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489267306_Call01_white.png);
			background-repeat: no-repeat;
			background-position: 94% 50%;
  		background-size: 16px auto;
		}
		.button.blue.transparent {
			background-color: transparent;
			border: 2px solid #2980B9;
			color: #2980B9;
			line-height: 36px;
		}
			.button.blue.transparent.phone {
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489267306_Call01_blue.png);
				background-repeat: no-repeat;
				background-position: 88% 50%;
    		background-size: 16px auto;
			}

	.button.grey {
		background-color: #525252;
		color: #ffffff;
		background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489265930_ic_keyboard_arrow_right.png);
		background-repeat: no-repeat;
		background-position: 90% 55%;
    background-size: 18px auto;
	}
		.button.grey.transparent {
			background-color: transparent;
			border: 2px solid #525252;
			line-height: 36px;
			color: #525252;
		}
		.button.grey.transparent.phone {
			/*525252*/
			background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489267306_Call01_grey.png);
			background-repeat: no-repeat;
			background-position: 88% 50%;
			background-size: 16px auto;
		}

	.button.white {
		background-color: #ffffff;
		color: #2980B9;
		background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489265930_ic_keyboard_arrow_right_blue.png);
		background-repeat: no-repeat;
		background-position: 90% 55%;
    background-size: 18px auto;
	}
		.button.white.transparent {
			background-color: transparent;
			border: 2px solid #ffffff;
			color: #ffffff;
			line-height: 36px;
		}
			.button.white.transparent.phone {
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489267306_Call01_white.png);
				background-repeat: no-repeat;
				background-position: 88% 50%;
    		background-size: 16px auto;
			}

	/* Read More Link */
	.readmore {
		display: block;
		font-size: 14px;
		font-weight: 500;
		color: #666666;
		background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489265930_ic_keyboard_arrow_right_blue.png);
		background-repeat: no-repeat;
		background-position: 55% 20%;
    background-size: 18px auto;
	}

	/* TAGS */
	.tags {
		display: block;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.tags a {
		color: #2980B9;
		border: 1px solid #2980B9;
		padding: 0 10px;
		font-size: 13px;
		border-radius: 50px;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		line-height: 30px;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
		.tags a:hover {
			color: #ffffff;
			background-color: #2980B9;
			transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
		}



	/* SOCIALS NETWORK */
	.socials {}
		.socials a {
			width: 30px;
			height: 30px;
			background-color: #ccc;
			display: inline-block;
			border-radius: 50px;
		}
			.socials a.fb {
				background-color: #3b5998;
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1492582559_Facebook_Solid_white.png);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 8px auto;
			}
			.socials a.tw {
				background-color: #55acee;
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1492582659_Twitter_Solid_white.png);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 14px auto;
			}


/* Body
============================================================ */
body {
 	background: #FFF;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

/* Wrapper
 ============================================================ */
 .wrapper {
 	margin: 0 auto;
 	width: 960px;
 }

 section {
 	padding: 60px 0;
 }

 h1 {
 	display: block;
 	font-size: 32px;
 	margin-bottom: 40px;
  font-weight: 500;
  color: #4a4a4a;
 }

/* Header
============================================================ */
header {
	border-bottom: 4px solid #2980B9;
	padding: 40px 0;
}
	header .wrapper {
		width: 960px;
		margin: 0 auto;
		position: relative;
	}
	header .wrapper .logo {
		/*width: 180px;*/
	}
	header .wrapper .sub-logo {
		color: #277FB8;
	    font-size: 12px;
	    font-weight: 500;
	    position: absolute;
	    left: 60px;
	    top: 37px;
	}

	header nav {
		float: right;
		position: relative;
		top: 6px;
		margin-right: 50px;
	}
	header nav.slided {
		right: 0;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	} 
	header .nav-icon-mobile {
		width: 30px;
		height: 30px;
		display: none;
		background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1492841638_editor-list-view-hambuger-menu-glyph.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		float: right;
    margin-right: 10px;
	}
	header nav a {
		color: #666666;
		display: inline-block;
		text-transform: uppercase;
		position: relative;
		margin-left: 50px;
		font-weight: 500;
    font-size: 13px;
	}
		header nav a.active {
			color: #2980B9;
		}
		header nav a.active:after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: #2980B9;
			display: inline-block;
			position: absolute;
			bottom: -4px;
			left: 0;
		}
		header nav a:hover:after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: #2980B9;
			display: inline-block;
			position: absolute;
			bottom: -4px;
			left: 0;
		}

			/* Dropdown */
			header nav .dropdown-nav {
				display: inline-block;
				position: relative;
			}
			header nav .dropdown-nav .options {
				position: absolute;
				display: none;
				background: #fff;
			    box-shadow: 0px 1px 2px #b9b9b9;
			    z-index: 2;
			    border-radius: 3px;
				width: 200px;
				padding: 10px 0;
				top: 28px;
    			left: calc(50% - 80px);
			}
			header nav .dropdown-nav > a { padding-bottom: 20px; }
			header nav .dropdown-nav > a.active:after {
				bottom: 16px;
			}
			header nav .dropdown-nav:hover .options { display: block; }
			header nav .dropdown-nav .options a {
				display: block;
				line-height: 30px;
				margin-left: 0;
				padding: 0 20px;
				text-align: center;
				text-transform: none;
			}
				header nav .dropdown-nav .options a:hover {
					background-color: #287FB8;
					color: #FFFFFF;
				}
					header nav .dropdown-nav .options a:hover:after {
						display: none;
					}



		header nav .header-nav-mobile {
			position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    display: none;
		}
		header nav .header-nav-mobile img {}
		header nav .header-nav-mobile .close-nav {
			display: inline-block;
	    width: 30px;
	    height: 30px;
	    background-color: #2980B9;
	    background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1492210248_icon-close-round.png);
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: 14px auto;
	    border-radius: 50px;
	    position: absolute;
	    top: 20px;
	    right: 20px;
		}

	/* SEARCH */
	header .search {
		float: right;
	}
	header .search .search-cta {
		display: inline-block;
    width: 30px;
    cursor: pointer;
    height: 30px;
    border: 1px solid #ccc;
    background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489266171_icon-111-search.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px auto;
    border-radius: 2px;
    transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}
	header .search .search-cta.dropped {
		background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1492210248_icon-close-round.png);
		background-size: 14px auto;
		background-color: #2980B9;
		border-color: #2980B9;
		border-radius: 50px;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}

	.call-header {
		overflow: hidden;
		position: absolute;
	    right: 80px;
	    bottom: -40px;
	}
	.call-header .text {
		float: left;
		font-size: 14px;
		font-weight: 500;
		color: #287FB8;
		line-height: 30px;
		margin-right: 10px;
	}
	.call-header .tel {
		float: left;
	    font-size: 14px;
	    font-weight: 500;
	    background: #287FB8;
	    color: #ffffff;
	    padding: 0 10px;
	    line-height: 30px;
	}


	/* SEARCH BAR */
	.search-bar {
		margin-top: 10px;
		position: relative;
	}
	.search-bar:after {
		content: "Presiona ENTER para buscar";
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 11px;
    color: #2980B9;
    opacity: .5;
	}
	.search-bar input {
		width: 100%;
    height: 45px;
    padding: 0 20px;
    border-radius: 3px;
    border-color: #2980B9;
    background-color: #ffffff;
    color: #2980B9;
	}

	.search-bar input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #d2d2d2;
	}
	.search-bar input::-moz-placeholder { /* Firefox 19+ */
	  color: #d2d2d2;
	}
	.search-bar input:-ms-input-placeholder { /* IE 10+ */
	  color: #d2d2d2;
	}
	.search-bar input:-moz-placeholder { /* Firefox 18- */
	  color: #d2d2d2;
	}
 
/* Content
============================================================ */
.content {
}

.fold-cta {
	padding: 60px 0;
	background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/bg/family.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.fold-cta .wrapper {
	overflow: hidden;
}

	/* VIDEO */
	.fold-cta .wrapper .video {
		width: 60%;
		float: left;
		height: 300px;
		background-color: #ccc;
	}

	/* CTA */
	.fold-cta .wrapper .cta {
		width: calc(40% - 10px);
		float: left;
		margin-left: 10px;
		height: 300px;
		background-color: #ffffff;
	}
		.fold-cta .wrapper .cta a {
			display: block;
			height: calc(100% / 3);
			position: relative;
			padding: 25px 0 0 70px;
		}
			.fold-cta .wrapper .cta a:after {
				content: "";
		    position: absolute;
		    width: 80%;
		    height: 1px;
		    background-color: #e6e6e6;
		    bottom: 0;
		    left: 35px;
			}
				.fold-cta .wrapper .cta a:last-child:after {
					display: none;
				}

			.fold-cta .wrapper .cta a.call {
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1491459851_phone.png);
				background-repeat: no-repeat;
		    background-position: 18px 27px;
		    background-size: 36px auto;
			}
			.fold-cta .wrapper .cta a.question {
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1491459934_question-circle.png);
				background-repeat: no-repeat;
		    background-position: 18px 27px;
		    background-size: 36px auto;
			}
			.fold-cta .wrapper .cta a.articles {
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1491459854_news.png);
				background-repeat: no-repeat;
		    background-position: 18px 27px;
		    background-size: 36px auto;
			}

			.fold-cta .wrapper .cta a .title {
				display: block;
				font-size: 17px;
				color: #2980B9;
				font-weight: 500;
				margin-bottom: 0px;
			}
			.fold-cta .wrapper .cta a .copy {
				display: block;
				font-size: 13px;
				color: #666666;
			}
				.fold-cta .wrapper .cta a .copy b {
					color: #2980B9;
					font-weight: 600;
					display: block;
				}


		/* Legal Topics */
		.legal-topics {
			background-color: #fafafa;
		}
		.legal-topics .wrapper {}
		.legal-topics h1 {
			margin-bottom: 60px;
		}
		.legal-topics .wrapper .topics {
			overflow: hidden;
			padding: 0;
			padding-bottom: 5px;
		}
		.legal-topics .wrapper .topics li {
			float: left;
			width: 245px;
			margin-right: 110px;
			list-style: none !important;
			list-style-type: none !important;
		}
			.legal-topics .wrapper .topics li:nth-child(3n) {
				margin-right: 0;
			}
			.legal-topics .wrapper .topics li a {
				display: block;
				background-color: #ffffff;
				box-shadow: 1px 1px 1px #e8e8e8;
				padding: 50px 20px;
				border-radius: 2px;
				text-align: center;
				color: #666;
				transition: all 0.2s linear;
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
			}
				.legal-topics .wrapper .topics li a:hover {
					color: #fff;
					background-color: #2980B9;
					transition: all 0.2s linear;
					-webkit-transition: all 0.2s linear;
					-moz-transition: all 0.2s linear;
					-o-transition: all 0.2s linear;
				}
				.legal-topics .wrapper .topics li a .text {
					display: block;
				}
				.legal-topics .wrapper .topics li a .icon {
					display: inline-block;
					/*background-color: #fafafa;*/
					border-radius: 2px;
					margin-bottom: 20px;
					height: 50px;
					width: 50px;
				}
					.legal-topics .wrapper .topics li a .icon.imigration {
						background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/passports-512.png);
						background-size: 50px auto;
						background-repeat: no-repeat;
						background-position: center center;
					}
					.legal-topics .wrapper .topics li a:hover .icon.imigration {
						background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/passports-512_white.png);
					}
					.legal-topics .wrapper .topics li a .icon.divorce-papers {
						background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1496044520__divorce_papers.png);
						background-size: 50px auto;
						background-repeat: no-repeat;
						background-position: center center;
					}
					.legal-topics .wrapper .topics li a:hover .icon.divorce-papers {
						background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1496044520__divorce_papers.png);
					}

						.legal-topics .wrapper .topics li a .icon.naturalization {
						background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1496044568_198.png);
						background-size: 50px auto;
						background-repeat: no-repeat;
						background-position: center center;
					}
					.legal-topics .wrapper .topics li a:hover .icon.naturalization {
						background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1496044568_198.png);
					}


	/* ARTICLES */
	.articles {}
	.articles .wrapper {}
	.articles .wrapper h1 {
		text-align: center;
		font-size: 25px;
		margin-bottom: 60px;
	}
		.articles .wrapper h1 b {
			font-weight: 600;
		}

	.articles .wrapper .colum-thumbs {
		display: block;
		overflow: hidden;
	}
	.articles .wrapper .colum-thumbs .thumb {
		width: calc(100% / 3 - 30px);
		float: left;
		margin-right: 45px;
	}
		.articles .wrapper .colum-thumbs .thumb:nth-child(3n) { margin-right: 0; }
	.articles .wrapper .colum-thumbs .thumb img {
		width: 100%;
		display: block;
	}
	.articles .wrapper .colum-thumbs .thumb h2 {
		display: block;
		font-size: 18px;
		margin: 20px 0;
		font-weight: 500;
	}
	.articles .wrapper .colum-thumbs .thumb p {
		display: block;
		line-height: 22px;
		font-size: 14px;
		margin-bottom: 20px;
	}

	.articles .wrapper .colum-thumbs .thumb.tag-system {
		background-color: #eeeeee;
		height: 400px;
		padding: 30px;
	}
		.articles .wrapper .colum-thumbs .thumb.tag-system h2 {
			margin-top: 0;
			padding: 0;
		}


	/* MAP AND LOCATIONS */
	.map-location {
		overflow: hidden;
	}
	.map-location .map {
		width: calc(100% - 400px);
		float: left;
		background-color: #fafafa;
		height: 300px;
	}
	.map-location .locations {
		float: left;
		background-color: #61abdc;
		width: 400px;
		padding: 30px;
		height: 300px;
	}
		.map-location .locations h2 {
			display: block;
			color: #ffffff;
			font-size: 22px;
			margin-bottom: 5px;
			font-weight: 500;
		}
		.map-location .locations .mod {
			padding-left: 40px;
			margin-top: 20px;
		}
		.map-location .locations .mod h2 {
			font-size: 16px;
			margin-bottom: 15px;
			position: relative;
		}
			.map-location .locations .mod h2:after {
				content: "";
		    width: 20px;
		    height: 20px;
		    display: inline-block;
		    background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/a8926a2f0f436edd64e2fd0c85ddbd44_download-this-image-as-location-pin-clipart_366-592.png);
		    background-position: center center;
		    background-size: 12px auto;
		    background-repeat: no-repeat;
		    position: absolute;
		    left: -27px;
		    top: -2px;
			}

		.map-location .locations .mod span {
			color: #ffffff;
			font-size: 14px;
			margin-bottom: 5px;
			display: block;
		}

/* INTERNAL HEADER */
.internal-header {}
.internal-header h1 {
	color: #ffffff;
	font-size: 38px;
	margin-bottom: 20px;
}
.internal-header p {
	color: #ffffff;
	width: 50%;
}

/* INTERNAL HEADER POST */
.internal-header-post {
	background-image: none;
	background-color: #fafafa;
}
.internal-header-post h1 {
	color: #2980B9;
	font-size: 38px;
	margin-bottom: 20px;
}
.internal-header-post .cat-tag {
	font-size: 20px;
	color: #666;
	font-weight: 500;
}
.internal-header-post p {
	color: #ffffff;
	width: 50%;
}


/* ABOUT US COPY */
.about-copy {
	background-color: #ffffff;
}
.about-copy .wrapper {
	overflow: hidden;
}
.about-copy .wrapper .left {
	float: left;
	width: 50%;
	position: relative;
	background-color: #ffffff;
}
	.about-copy .wrapper .left img {
		width: 200px;
		display: block;
		margin: 0 auto;
		position: relative;
    top: 110px;
	}

.about-copy .wrapper .right {
	float: left;
	width: 50%;
	position: relative;
}
	.about-copy .wrapper .right p {
		color: #666666;
		margin-bottom: 10px;
		line-height: 22px;
	}

/* HELP FOLD */
.helps {}
.helps {
	overflow: hidden;
	padding: 0;
	background-color: #fafafa;
}
.helps .left {
	float: left;
	width: 50%;
	position: relative;
	height: 400px;
}
	.helps .vcenter {
		position: absolute;
		padding: 0 100px;
    top: 50%;
    transform: translateY(-50%);
	}
	.helps .left h2 {
		color: #666666;
		font-size: 38px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.helps .left p {
		color: #666666;
		font-size: 15px;
		margin-bottom: 30px;
	}
.helps .right {
	float: left;
	height: 400px;
	width: 50%;
	background-image: url(https://abogadazo-2.s3.amazonaws.com/uploads/article/image_body_field/40/ciudadania_porque_necesita_abogado.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

/* TOPICS ABOUT FOLD */
.topics-about-fold {}
.topics-about-fold {
	overflow: hidden;
	padding: 0;
	background-color: #fafafa;
}
.topics-about-fold .left {
	float: left;
	height: 500px;
	width: 50%;

	background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/misc/topics.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 70%;
	background-color: #ffffff;
}
	.topics-about-fold .vcenter {
		position: absolute;
		padding: 0 100px;
    top: 50%;
    transform: translateY(-50%);
	}
	.topics-about-fold h2 {
		color: #666666;
		font-size: 38px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.topics-about-fold p {
		color: #666666;
		font-size: 15px;
		margin-bottom: 30px;
	}
.topics-about-fold .right {
	float: left;
	width: 50%;
	background-color: #ffffff;
	position: relative;
	height: 500px;
}


/* MORE HELP */
.more-help {
	background-color: #fafafa;
}
.more-help .wrapper {
	text-align: center;
}
.more-help .wrapper span {
	color: #666;
	font-size: 22px;
	font-weight: 500;
	margin-right: 40px;
}
.more-help .wrapper a {}

.more-help .wrapper .qmark {
	width: 30px;
	height: 30px;
	display: inline-block;

	background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1491459934_question-circle.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	margin-right: 10px;
	position: relative;
    top: 6px;
}



/* POST CONTENT */
.post-content {
	padding-top: 0;
}
.post-content .wrapper {
	overflow: hidden;
}
.post-content .wrapper sidebar {
	width: 300px;
	float: left;
}
.post-content .wrapper .content-article {
	width: calc(100% - 300px);
	float: left;
	padding-right: 60px;
}
	.post-content .wrapper article p {
		color: #666666;
		line-height: 22px;
		text-align: justify;
	}
	.post-content .wrapper article img {
		display: block;
		margin-bottom: 20px;
		width: 100%;
	}

	.post-content .wrapper .content-article .more-tags { position: relative; }
	
	.post-content .wrapper .content-article .social {
		position: absolute;
	    right: 0;
	    top: 50%;
	    transform: translateY(-50%);
	}
		.post-content .wrapper .content-article .social .socials {
			float: left;
		}
		.post-content .wrapper .content-article .social .tag-contact-with-me {
			font-size: 12px;
	    color: #666;
	    font-weight: 500;
	    line-height: 13px;
	    width: 65px;
	    float: left;
		}

		.post-content .wrapper .content-article .social.stock {
		    float: right;
		    top: 20px;
		    transform: translateY(0);
		}
			.post-content .wrapper .content-article .social.stock .socials { float: right; }
			.post-content .wrapper .content-article .social.stock .tag-contact-with-me {
				float: right;
				width: 80px;
    			line-height: 30px;
			}

		.post-content .wrapper .content-article .terms p {
			font-size: 12px;
			color: #777777;
			font-style: italic;
		}

	.post-content .wrapper .content-article .more-tags > span {
		display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #666;
    margin: 40px 0 20px 0;
	}

	.post-content .wrapper .content-article .author {
		border: 1px solid #ccc;
		border-right: none;
		border-left: none;
		position: relative;
		padding: 20px 0;
		margin-top: 40px;
		width: 100%;
		display: block;
		overflow: hidden;
	}
		.post-content .wrapper .content-article .author .photo {
			width: 80px;
			height: 80px;
			border: 1px solid #ccc;
			border-radius: 100px;
			float: left;
			margin-right: 10px;
			overflow: hidden;
		}
		.post-content .wrapper .content-article .author .info {
			float: left;
	    position: absolute;
	    width: calc(100% - 290px);
	    left: 120px;
	    top: 50%;
	    transform: translateY(-50%);
		}
			.post-content .wrapper .content-article .author .info .name {
				display: block;
				text-transform: uppercase;
				font-size: 14px;
				color: #666;
				margin-bottom: 10px;
				font-weight: 600;
			}
				.post-content .wrapper .content-article .author .info .name b {
					color: #2980B9;
				}
			.post-content .wrapper .content-article .author .info .desc {
				display: block;
				font-size: 12px;
				color: #666;
			}

			.post-content .wrapper .content-article.category-posts article {
				margin-bottom: 50px;
				border-bottom: 1px solid #ccc;
				padding-bottom: 50px;
			}

	/* SIDEBAR POST */
	.post-content .wrapper sidebar {
		padding: 20px 0;
	}
	.post-content .wrapper sidebar .module {
		margin-bottom: 30px;
	}
	.post-content .wrapper sidebar .module .title-white {
		color: #444444;
    display: block;
    font-size: 20px;
    font-weight: 600;
	}
	.post-content .wrapper sidebar .module .title {
		color: #444444;
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
	}

	/* SOCIAL SHARE */
	.post-content .wrapper sidebar .module .social.share {
		text-align: right;
		display: block;
    overflow: hidden;
	}
	.post-content .wrapper sidebar .module .social.share .socials {
		float: right;
	}
	.post-content .wrapper sidebar .module .social.share .tag-contact-with-me {
		font-size: 12px;
		float: right;
    color: #666;
    font-weight: 500;
    line-height: 30px;
    width: 85px;
    margin-right: 20px;
	}

	/* SLIDER */
	.flex-control-nav { display: none !important; }
	.post-content .wrapper sidebar .module .flexslider {
		margin-bottom: 0;
	}
	.post-content .wrapper sidebar .module .flexslider .slides img {
		width: 190px !important;
		display: block;
    margin: 0 auto;
	}
	.post-content .wrapper sidebar .module .flex-direction-nav .flex-prev {
		left: 0;
    opacity: 1;
    height: 30px;
		width: 30px;
		display: inline-block;

		background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/arrow_left.png);
		background-size: 17px auto;
    background-repeat: no-repeat;
    background-position: center center;
		text-indent: 99999px;
	}
	.post-content .wrapper sidebar .module .flex-direction-nav .flex-next {
		right: 0;
		opacity: 1;
		height: 30px;
		width: 30px;
		display: inline-block;

		background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/arrow_right.png);
		background-size: 17px auto;
    background-repeat: no-repeat;
    background-position: center center;
		text-indent: 99999px;
	}

	/* TELL HISTORY */
	.post-content .wrapper sidebar .module .tell-history {}
		.post-content .wrapper sidebar .module .tell-history .title {
			color: #444444;
	    background-color: #eeeeee;
	    display: block;
	    font-size: 20px;
	    font-weight: 600;
	    padding: 20px;
		}
		.post-content .wrapper sidebar .module .tell-history form textarea {
			width: 100%;
			background-color: #f8f8f8;
			padding: 20px;
			height: 95px;
			border: none;
			border-bottom: 2px solid #eeeeee;
			resize: none;
			font-weight: 500;
	    font-size: 13px;
		}
		.post-content .wrapper sidebar .module .tell-history form input {
			width: 100%;
			background-color: #f8f8f8;
			padding: 0 20px;
			height: 55px;
			border: none;
			border-bottom: 2px solid #eeeeee;
			font-weight: 500;
	    font-size: 13px;
		}
		.post-content .wrapper sidebar .module .tell-history form button {
			width: 100%;
			background-color: #2980B9;
			height: 50px;
			border: none;
			color: #ffffff;
			cursor: pointer;
			font-weight: 500;
			font-size: 14px;
		}
		
		.post-content .wrapper sidebar .module .tell-history form .terms {
			font-size: 13px;
    	margin-top: 10px;
		}
		.post-content .wrapper sidebar .module .tell-history form input[type="submit"]{
			background-color: #2980B9;
			color: #ffffff;
			text-align: center;
			border-bottom: none;
		}
		.post-content .wrapper sidebar .module .tell-history form .form-group {
			margin-bottom: 0 !important;
		}
		.post-content .wrapper sidebar .module .tell-history form select {
			width: 100%;
	    border: none;
	    height: 45px;
	    background-color: #f8f8f8;
	    border-bottom: 2px solid #eeeeee;
	    border-radius: 0;
		}

	/* RELATED POST SIDEBAR */
		.post-content .wrapper sidebar .module .related-post-sidebar {
			background-color: #eeeeee;
		}
		.post-content .wrapper sidebar .module .related-post-sidebar .title {
			padding: 30px 20px;
		}
		.post-content .wrapper sidebar .module .related-post-sidebar a {
			display: block;
			padding-bottom: 20px;
		}
			.post-content .wrapper sidebar .module .related-post-sidebar .more-articles {
				padding: 0 20px 20px 20px;
			}
			.post-content .wrapper sidebar .module .related-post-sidebar a.readmore {
				padding-bottom: 0;
				display: block;
			}

		.post-content .wrapper sidebar .module .related-post-sidebar .post {
			overflow: hidden;
			padding: 0 20px;
		}
		.post-content .wrapper sidebar .module .related-post-sidebar .post .image {
			float: left;
			width: 100px;
		}
		.post-content .wrapper sidebar .module .related-post-sidebar .post .image img {
			display: block;
			width: 100%;
		}
		.post-content .wrapper sidebar .module .related-post-sidebar .post .copy {
			font-size: 15px;
			padding-left: 15px; 
			font-weight: 600;
			color: #2980b9;
			float: left;
			width: calc(100% - 115px);
		}

		.post-content .wrapper sidebar .module .related-post-sidebar.tags {}
		.post-content .wrapper sidebar .module .related-post-sidebar.tags .tags {
			padding: 0 20px;
		}
		.post-content .wrapper sidebar .module .related-post-sidebar.tags .tags a {
			padding-bottom: 0;
		}

	/* DONDE ESTAMOS */
	.post-content .wrapper sidebar .module .where-be-us {
		background-color: #eeeeee;
	}
	.post-content .wrapper sidebar .module .where-be-us .title {
		padding: 30px 20px;
	}
		.post-content .wrapper sidebar .module .where-be-us a {
			color: #545454;
			display: block;
			padding: 0 20px 0 35px;
			padding-bottom: 20px;
		}
			.post-content .wrapper sidebar .module .where-be-us a span {
				display: block;
				font-weight: 500;
			}
				.post-content .wrapper sidebar .module .where-be-us a span.title {
					font-size: 18px;
					font-weight: 600;
					padding: 0 0 0 25px;
					background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/icn_location.png);
					background-repeat: no-repeat;
					background-position: left center;
				}
				.post-content .wrapper sidebar .module .where-be-us a span.data {
					padding-left: 40px;
				    line-height: 25px;
				    font-size: 14px;
				}

/* PAGINATION ==================== */
.pagination {
	text-align: center;
}
.pagination .pag {
	display: block;
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 10px;
}
.pagination .pages {}
.pagination .pages a:first-child,
.pagination .pages a:last-child {
	padding: 0 15px;
}
.pagination .pages a {
	display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 0 8px;
  font-weight: 500;
  color: #444444;
  line-height: 25px;
  transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
	.pagination .pages a:hover {
		border-color: #2980b9;
		background-color: #2980b9;
		color: #ffffff;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}




/* CONTACT PAGE */
.contact-form {}
.contact-form h2 {
	color: #444;
  font-size: 20px;
  margin-bottom: 50px;
}
	.contact-form h2 a {
		background: #2980b9;
    color: #fff;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 2px;
    display: inline-block;
	}

.contact-form form {
	overflow: hidden;
}
.contact-form form fieldset {
	float: left;
	width: 50%;
}
.contact-form form fieldset:first-child {
	padding-right: 20px;
}
.contact-form form input {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	border-radius: 50px;
	height: 40px;
	font-size: 15px;
	width: 100%;
	padding: 0 20px;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
.contact-form form textarea {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	border-radius: 15px;
	height: 140px;
	resize: none;
	font-size: 15px;
	width: 100%;
	padding: 20px;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}
	.contact-form form textarea:focus,
	.contact-form form input:focus {
		border-color: #2980b9;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
	}

.contact-form form button {
	color: #ffffff;
	background: #2980b9;
	padding: 0 20px;
	height: 35px;
	cursor: pointer;
	float: right;
	font-weight: 500;
	font-size: 15px;
	border-radius: 50px;
}

/* Footer
============================================================ */
	footer {
		width: 100%;
		display: block;
	}

	footer .blue-bar {
		background-color: #2980B9;
		color: #ffffff;
		padding: 40px 0;
		overflow: hidden;
	}
		footer .blue-bar .copy {
			font-size: 22px;
			line-height: 40px;
			float: left;
			margin: 0;
		}
		footer .blue-bar span {
			color: #fff;
			font-size: 16px;
			margin: 0 10px;
		}
		footer .blue-bar .right-content {
			float: right;
		}



	footer .last-bar {
		background-color: #666666;
		color: #ffffff;
		padding: 40px 0;
	}
		footer .last-bar .links {}
		footer .last-bar .links a {
			display: inline-block;
			color: #ffffff;
			margin-bottom: 20px;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 500;
			margin-right: 40px;
			transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			-o-transition: all 0.2s linear;
		}
		footer .last-bar .links.last {}
		footer .last-bar .links.last a {
			color: #999;
			text-transform: none;
			font-weight: 400;
			margin-bottom: 0;
			transition: all 0.2s linear;
			-webkit-transition: all 0.2s linear;
			-moz-transition: all 0.2s linear;
			font-size: 13px;
			-o-transition: all 0.2s linear;
		}
		footer .last-bar .links.last span {
			color: #999;
			margin-right: 40px;
			font-size: 13px;
		}
			footer .last-bar .links.last a:hover {
				color: #ffffff;
				transition: all 0.2s linear;
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
			}



			/* FOLD PRACTICE AREAS */
			.fold-area {
				background-color: #ffffff;
				padding: 80px 0;
				overflow: hidden;
			}
			.fold-area:nth-child(2n) {
				background-color: #fafafa;
			}
			.fold-area.right {
				text-align: right;
			}
				.fold-area.right p {
					float: right;
				}
				.fold-area.right .button {
					clear: both;
    				float: right;
				}

			.fold-area h1 {
				color: #267FB8;
				font-size: 35px;
				display: block;
				margin-bottom: 10px;
			}
			.fold-area p {
				font-size: 16px;
				color: #515151;
				width: 550px;
				display: block;
				margin-bottom: 20px;
			}
				.fold-area .wrapper {
					position: relative;
				}
				.fold-area .wrapper:after {
					content: "";
				    width: 256px;
				    height: 215px;
				    display: inline-block;
				    background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/areas.png);
				    position: absolute;
				    right: 0;
				    top: -30px;
				}
				.fold-area.right .wrapper:after {
					left: 0;
					right: auto;
				}


	/* LAWYERS */
	.lawyers {
		overflow: hidden;
	}
	.lawyers h2 {
		display: block;
		font-size: 18px;
		color: #267FB8;
	}
	.lawyers .lawyer-list {
		overflow: hidden;
    	margin-top: 40px;
	}
	.lawyers .lawyer-list .lawyer {
		float: left;
		margin-right: 70px;
		margin-bottom: 20px;
		text-align: center;
	}
		.lawyers .lawyer-list .lawyer:nth-child(5n) {
			margin-right: 0;
		}
	.lawyers .lawyer-list .lawyer .name {
		display: block;
		font-size: 18px;
		font-weight: 500;
		color: #267FB8;
	}
	.lawyers .lawyer-list .lawyer .spec {
		font-size: 14px;
		color: #444444;
	}
	.lawyers .lawyer-list .lawyer .contact-cta {
		display: block;
		border: 1px solid #2980B9;
		border-radius: 2px;
		color: #2980B9;
		margin-top: 6px;
		font-size: 12px;
		line-height: 25px;
	}
		.lawyers .lawyer-list .lawyer .contact-cta:hover {
			background-color: #2980B9;
			color: #ffffff;
		}

	.lawyers .lawyer-list .lawyer .image {
		width: 136px;
		height: 145px;
		background-color: #EFEFEF;
		border-radius: 3px;
		display: inline-block;
		overflow: hidden;
	}
		.lawyers .lawyer-list .lawyer .image img {
			width: auto;
			height: 100%;
			display: block;
			margin: 0 auto;
		}

		/* FIRMAS */
		.lawyers .lawyer-list.firms {}
		.lawyers .lawyer-list.firms .lawyer .image {
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center center;
		}
		.lawyers .lawyer-list.firms .lawyer .image img {

		}
		.lawyers .lawyer-list.firms {}


	/* Lawyer Detail */
	.lawyerview {
		background-color: #fafafa;
	}
	.lawyerview .wrapper {
		padding-left: 35%;
	}
	.lawyerview h1 {
		color: #267FB8;
		font-size: 35px;
		display: block;
		margin-bottom: 10px;
	}

	.lawyer-detail .wrapper {
		width: 750px;
	}
	.lawyer-detail .left {
		float: left;
		width: 50%;
		padding-right: 68px;
		position: relative;
    	top: -195px;
	}
		.lawyer-detail:after {
			content: '';
		    display: block;
		    clear: both;
		}
		.lawyer-detail .left .image {
			/*width: 306px;
			height: 375px;*/
			max-width: 306px;
	    width: auto;
	    height: auto;
			background-color: #EFEFEF;
			background-position: center center;
    	background-repeat: no-repeat;
			display: inline-block;
			border-radius: 3px;
		}
			.lawyer-detail .left .firm {
				width: 100%;
			}
				.lawyer-detail .left .firm:after {
					content: '';
				    display: block;
				    clear: both;
				}
			.lawyer-detail .left .firm span {
				float: left;
				font-size: 13px;
				line-height: 49px;
				color: #444444;
			}
			.lawyer-detail .left .firm img {
				float: left;
				width: 70px;
				height: auto;
			}
			.lawyer-detail .left .firm .button {
				font-size: 13px;
				padding: 0 10px;
				line-height: 25px;
				margin-top: 15px;
				background-image: none;
				float: right;
			}

			.lawyer-detail .left .contact-info {}
			.lawyer-detail .left .contact-info > span,
			.lawyer-detail .left .contact-info > a {
				display: block;
				margin-top: 15px;
				font-size: 16px;
				color: #515151;
			}
			.lawyer-detail .left .contact-info .address {
				padding-left: 25px;
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/icn_location.png);
				background-repeat: no-repeat;
				background-position: left center;
			}
			.lawyer-detail .left .contact-info .tel {
				padding-left: 25px;
				background-size: 22px auto;
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489267306_Call01_grey.png);
				background-repeat: no-repeat;
				background-position: left center;
			}
			.lawyer-detail .left .contact-info .email {
				padding-left: 25px;
				background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/icn_email.png);
				background-repeat: no-repeat;
				background-position: left center;
			}
			.lawyer-detail .left .contact-info .license {}
			.lawyer-detail .left .contact-info .license .licensetag {
				display: inline-block;
				background-color: #ccc;
				font-size: 12px;
				color: #fff;
				font-weight: 500;
			    padding: 0 10px;
			    border-radius: 2px;
			    line-height: 22px;
			}
				.lawyer-detail .left .contact-info .license .licensetag.active {
					background-color: #238C00;
				}


			.lawyer-detail .res-info {
				width: 100%;
				clear: both;
				position: relative;
    			top: -100px;
			}


	.lawyer-detail .right {
		float: left;
		width: 50%;
	}
		.lawyer-detail .right p {
			color: #515151;
		}
		.lawyer-detail .right > span {
			display: block;
			line-height: 30px;
		}
		.lawyer-detail .right .address {
			padding-left: 25px;
			background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/icn_location.png);
			background-repeat: no-repeat;
			background-position: left center;
		}
		.lawyer-detail .right .tel {
			padding-left: 25px;
			background-size: 22px auto;
			background-image: url(https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/1489267306_Call01_grey.png);
			background-repeat: no-repeat;
			background-position: left center;
		}
		.lawyer-detail .right .email {
			padding-left: 25px;
			background-image: url(../https://s3.amazonaws.com/abogadazo-2/uploads/images/icn/icn_email.png);
			background-repeat: no-repeat;
			background-position: left center;
			color: #444444;
		}


	/* Lawyer List */
	.lawyerlist-header {
		background-color: #fafafa;
	}
	.lawyerlist-header h1 {
		color: #267FB8;
	    font-size: 25px;
	    display: block;
	    margin-bottom: 10px;
	}

	/* Lawyers in firm page */
	.lawyersin-firm { position: relative; top: -150px; }
	.lawyersin-firm .wrapper {
		width: 760px;
	}
	.lawyersin-firm .lawyer-list .lawyer { margin-right: 70px !important; }
	.lawyersin-firm .lawyer-list .lawyer:nth-child(4n) { margin-right: 0 !important; }


/* ==================================== MEDIA QUERIES ==================================== */
@media only screen and (max-width: 767px) and (min-width: 320px)  {

	.wrapper {
		width: 100%;
	}

	.post-content .wrapper .content-article .social.stock {
		display: none;
	}

	.post-content .wrapper sidebar .module .where-be-us {
		margin-top: 20px;
	}

	.post-content .wrapper .content-article .terms {
		padding: 0 20px;
	}

	.lawyerlist-header h1 {
		text-align: center;
	}

	.more-help .wrapper .qmark {
		width: 25px;
    	margin: 0;
	}

	.lawyerview .wrapper {
		width: 100%;
		padding: 0 20px;
	}
		.lawyer-detail .wrapper {
			padding: 0 20px;
			width: 100%;
		}
		.lawyer-detail .left {
			width: 100%;
			padding: 0;
			float: none;
			top: -95px;
		}
			.lawyer-detail .left .image {
				width: 100%;
			}

		.lawyer-detail .right {
			width: 100%;
			float: none;
		}

	.lawyers .wrapper {
		padding: 0 20px;
	}
		.lawyers h2 { text-align: center; }
		.lawyers .lawyer-list .lawyer {
			margin-right: 50px !important;
			margin-bottom: 20px;
		}
			.lawyers .lawyer-list .lawyer:nth-child(2n) {
				margin-right: 0 !important;
			}

		.lawyers .lawyer-list .lawyer .name {
			font-size: 15px;
		}
		.lawyers .lawyer-list .lawyer .spec { font-size: 12px; }

		.lawyers .lawyer-list .lawyer .image {
			width: 113px;
			height: 121px;
		}


	.lawyersin-firm .wrapper {
		width: 100%;
	}
	.lawyersin-firm .lawyer-list .lawyer {
		margin-right: 50px !important;
	}
	.lawyersin-firm .lawyer-list .lawyer:nth-child(2n) {
		margin-right: 0 !important;
	}

	.lawyer-detail .res-info {
		margin-top: 40px;
	}
	.lawyer-detail .res-info,
	.lawyersin-firm {
		top: 0;
	}



	header {
		padding: 40px 0 60px 0;
	}

	.fold-area .wrapper {
		padding: 0 20px;
	}
		.fold-area p {
			width: 100%;
		}

	header .wrapper .sub-logo {
		bottom: -5px;
		font-size: 10px;
	}
	.call-header {
		right: 20px;
		bottom: -60px;
	}

	.fold-area .wrapper:after {
		display: none;
	}

	/* NAV */
	.search-bar {
		padding: 0 20px;
	}
		.search-bar:after {
			display: none;
		}

	header .wrapper {
		width: 100%;
	}
	header .wrapper .logo {
		margin-left: 20px;
		width: 140px;
	}
	header .search {
		margin-right: 20px;
	}
	header nav {
		position: fixed;
    background: #fff;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    right: -100%;
    z-index: 2;
    right: -100%;
    margin: 0;
    top: 0;
    float: none;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
	}
		header nav a {
			font-weight: 500;
			font-size: 22px;
			display: block;
			line-height: 60px;
		}
		header nav a.active:after {
			display: none;
		}
		header nav .header-nav-mobile {
			display: block;
		}
		header .nav-icon-mobile {
			display: inline-block;
		}

	/* LANDING ============================================= */
		/* First Fold ============= */
		.fold-cta {
			padding: 20px 0 0 0;
		}
		.fold-cta .wrapper .video {
			float: none;
	    width: 100%;
	    margin-bottom: 20px;
	    height: 150px;
	    padding: 0 20px;
	    background-color: transparent;
		}

		.fold-cta .wrapper .cta {
			float: none;
			width: 100%;
			height: auto;
			margin: 0;
		}
			.fold-cta .wrapper .cta a {
				padding-bottom: 23px;
				width: 100%;
    		padding-right: 20px;
			}

		/* Legal Topics ============= */
		.legal-topics {
			padding-bottom: 0;
			padding-top: 30px;
		}
			.legal-topics h1 {
				margin-bottom: 30px;
				font-size: 24px;
				text-align: center;
			}

			.legal-topics .wrapper .topics li {
				width: 100%;
				float: none;
				margin: 0;
			}
			.legal-topics .wrapper .topics li a {
				display: block;
		    float: none;
		    padding: 10px 10px 10px 20px;
		    overflow: hidden;
		    border-bottom: 1px solid #e8e8e8;
			}
				.legal-topics .wrapper .topics li:last-child a {
					border-bottom: none;
				}
			.legal-topics .wrapper .topics li a .icon {
				float: left;
				margin-bottom: 0;
				background-size: 100% auto !important;
				margin-right: 20px;
				width: 30px;
				height: 30px;
			}
			.legal-topics .wrapper .topics li a .text {
				float: left;
		    line-height: 30px;
		    color: #2980B9;
		    font-weight: 500;
		    font-size: 14px;
			}

			.legal-topics .wrapper .topics li a:hover,
			.legal-topics .wrapper .topics li a:hover .text {
				color: #ffffff;
			}

	/* POST THUMBNAILS */
	.articles {
		padding-bottom: 0;
	}
	.articles .wrapper .colum-thumbs .thumb.tag-system {
		margin-bottom: 0;
		height: auto;
	}
	.articles .wrapper .colum-thumbs .thumb {
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}
		.articles .wrapper .colum-thumbs .thumb p,
		.articles .wrapper .colum-thumbs .thumb h2 {
			padding: 0 30px;
		}
		.articles .wrapper .colum-thumbs .thumb .button {
			margin-left: 30px;
		}

	/* MAP */
	.map-location .map {
		width: 100%;
		float: none;
	}
		.map-location .locations {
			float: none;
			width: 100%;
		}

	/* BLUE BAR */
	footer .blue-bar {
		text-align: center;
	}
		footer .blue-bar .right-content {
			float: none;
		}
		footer .blue-bar .copy {
			float: none;
			margin-bottom: 30px;
			display: block;
			line-height: 25px;
		}

	/* FOOTER */
	footer {
		text-align: center;
	}
	footer .last-bar .links a,
	footer .last-bar .links.last span {
		display: block;
		margin-right: 0;
	}
	footer .last-bar .links.last a {
		margin-top: 20px;
	}

	/* INTERNAL HEADER */
	.internal-header {
		text-align: center;
		padding-bottom: 20px;
	}
		.internal-header .wrapper {
			width: 100%;
			padding: 0 20px;
		}
		.internal-header p {
			width: 100%;
		}


		/* INFO ABOUT US */
		.about-copy .wrapper {
			padding: 0 20px;
		}
		.about-copy .wrapper .right {
			text-align: center;
		}
		.about-copy .wrapper .left,
		.about-copy .wrapper .right {
			float: none;
			width: 100%;
		}
			.about-copy .wrapper .left {
				margin-bottom: 40px;
			}
			.about-copy .wrapper .left img {
				top: 0;
			}

		/* FLAG FOLD */
		.helps .right,
		.helps .left {
			float: right;
			width: 100%;
		}
			.helps .right {
				height: 215px;
			}
			.helps .left {
				padding: 40px 20px;
				height: 380px;
				margin-bottom: 30px;
			}
				.helps .left .ortxt {
					display: none;
				}

			.helps .vcenter {
				padding: 0;
				top: 0;
				transform: translateY(-0%);
				position: relative;
			}

		/* ITEMS FOLD ABOUT US */
		.topics-about-fold .left {
			width: 100%;
			float: none;
			height: 260px;
			background-size: 100%;
		}
		.topics-about-fold .right {
			width: 100%;
			float: none;
			padding: 40px 20px;
			height: 420px;
		}
			.topics-about-fold .vcenter {
				top: 0;
				transform: translateY(-0%);
				position: relative;
				padding: 0;
			}

	/* POST DETAIL */
	.post-content .wrapper sidebar .module {
		margin-bottom: 0;
	}
	.post-content {
		padding-bottom: 0;
	}
	.post-content .wrapper sidebar .module .related-post-sidebar a.readmore {
		background-position: 28% 20%;
	}
	.post-content .wrapper .content-article,
	.post-content .wrapper sidebar {
		float: none;
		padding-right: 0;
		width: 100%;
	}
	.post-content .wrapper .content-article article.cropped {
		overflow: hidden;
		max-height: 600px;
	}

	.read-more-post {
		position: relative;
	}
	.read-more-post:after {
		content: "";
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.99) 66%, rgba(255,255,255,1) 67%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 66%,rgba(255,255,255,1) 67%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 66%,rgba(255,255,255,1) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		position: absolute;
	    top: -100px;
	    left: 0;
	    width: 100%;
	    height: 100px;
	    display: inline-block;
	}

	.read-more-post {
		padding: 0 30px;
		margin-top: 30px;
		display: block;
	}
		.read-more-post .more {
			padding: 0 33px;
		}



	.internal-header-post .wrapper {
		padding: 0 20px;
	}
		.post-content .wrapper article p {
			padding: 0 30px;
		}
		.post-content .wrapper article .button {
			margin-left: 20px;
			margin-top: 20px;
		}

	.internal-header-post .wrapper h1 {
		font-size: 23px;
		padding: 0 20px;
	}

	.internal-header-post .cat-tag {
		padding: 0 20px;
	}

	/* AUTHOR */
	.post-content .wrapper .content-article .author {
		padding: 20px;
	}
	.post-content .wrapper .content-article .social {
		position: relative;
    top: 0;
    transform: translateY(-0%);
    width: 100%;
	}
	.post-content .wrapper .content-article .author .info {
		position: relative;
    top: 0;
    transform: translateY(-0%);
    margin-bottom: 20px;
    float: left;
    left: 0;
    width: calc(100% - 90px);
	}

	/* MORE TAGS */
	.post-content .wrapper .content-article .more-tags {
		padding: 0 20px;
	}
	.post-content .wrapper .content-article .more-tags > span {
		margin-top: 20px;
	}

	/* SOOCIAL SHARE */
	.post-content .wrapper sidebar .module .social.share {
		padding: 0 20px;
	}
	.post-content .wrapper sidebar .module .title-white {
		text-align: center;
	}

	/* MORE HELP */
	.more-help {}
	.more-help .wrapper span {
		margin-bottom: 20px;
		display: block;
		margin-right: 0;
	}

	/* CONTACT */
	.contact-form .wrapper {
		width: 100%;
		padding: 0 20px;
	}
		.contact-form form fieldset {
			width: 100%;
			float: none;
		}
		.contact-form form fieldset:first-child {
			padding-right: 0;
		}
		.contact-form form button {
			float: none;
			width: 100%;
		}


}


/* ipad portrait */
@media only screen and (max-width: 1023px) and (min-width: 768px)  {
	
	header .wrapper {
		width: 100%;
		padding: 0 40px;
	}
	header nav { margin-right: 15px; }
	header nav a {
		margin-left: 10px;
	}

	header .wrapper .sub-logo {
		left: 99px;
	}

	.lawyerlist-header .wrapper {
		width: 100%;
	}
	.lawyerlist-header h1 {
		text-align: center;
	}

	.lawyer-detail .wrapper {
		padding: 0 50px;
		width: 100%;
	}
	.lawyerview .wrapper {
		padding-left: 50%;
	}
	.lawyer-detail .left {
		padding-right: 25px;
	}
		.lawyer-detail .left .firm {
			padding-right: 0;
		}

	.lawyers .wrapper {
		padding: 0 60px;
		width: 100%;
	}
		.lawyers .lawyer-list .lawyer {
			margin-right: 33px !important;
		}
			.lawyers .lawyer-list .lawyer:nth-child(4n) {
				margin-right: 0 !important;
			}

	.fold-area .wrapper {
		padding: 0 50px;
		width: 100%;
	}
	.fold-area .wrapper:after { display: none; }

	.legal-topics .wrapper,
	.articles .wrapper {
		width: 100%;
		padding: 0 40px;
	}
	footer .blue-bar .wrapper {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
	}
	footer .last-bar .wrapper {
		width: 100%;
		padding-left: 40px;
		padding-right: 40px;
	}
	.legal-topics .wrapper .topics li {
		width: 195px;
    margin-right: 50px;
	}

	.articles .wrapper .colum-thumbs .thumb {
		width: calc(100% / 2 - 23px);
	}
	.articles .wrapper .colum-thumbs .thumb:nth-child(2) { margin-right: 0; }
	.articles .wrapper .colum-thumbs .thumb.tag-system {
		width: 100%;
		height: 270px;
		margin-top: 40px;
	}

	/* BLUE BAR */
	footer .blue-bar .copy {
		width: 40%;
	}

	/* CTA FOLD */
	.fold-cta .wrapper {
		width: 100%;
		padding: 0 40px;
	}
	.fold-cta .wrapper .video {
		width: 60%;
	}

	/* Logo Copy */
	.helps {
	}
	.about-copy .wrapper {
		width: 100%;
		padding: 0 40px;
	}
		.helps .left {
			padding: 40px;
		}
		.helps .vcenter {
			top: 0;
			padding: 0;
			position: relative;
			transform: translateY(-0%);
		}
		.helps .right {
			background-size: cover;
		}

	.topics-about-fold .left {
		height: 400px;
	}
	.topics-about-fold .right {
    padding: 40px 40px 40px 20px;
    height: 400px;
	}
	.topics-about-fold .vcenter {
		top: 0;
		padding: 0;
		position: relative;
		transform: translateY(-0%);
	}

	/* POST DETAIL */
	.post-content .wrapper {
		width: 100%;
	}
	.post-content .wrapper sidebar {
		width: 258px;
	}
	.post-content .wrapper .content-article {
		width: calc(100% - 295px);
		padding-right: 30px;
	}
		.post-content .wrapper article p {
			padding-left: 40px;
		}
		.post-content .wrapper article .button {
			margin-left: 40px;
			margin-top: 30px;
		}

	.post-content .wrapper .content-article .author {
		padding-left: 20px;
	}
	.post-content .wrapper .content-article .more-tags {
		padding-left: 40px;
	}
	.post-content .wrapper .content-article .more-tags > span {
		margin-top: 20px;
	}

	.more-help .wrapper {
		width: 100%;
	}


	.contact-form .wrapper {
		width: 100%;
		padding: 0 40px;
	}

}