<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Someone just made an email.</p>
    <p><%= @question.description %>
    <p><%= link_to "This is the link", @question %> </p>
  </body>
</html>