	<div class="top">
				<div class="wrapper">
					<a href="/"><img src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/logo-bubble-grey.png" class="logo" ></a>
					<nav>
						<a href="#">Quiénes somos</a>
						<a href="#">Un ejemplo</a>
						<a href="#">Haz tu pregunta</a>
					</nav>
				</div>
	</div>