<header>
				<div class="wrapper">
					<a href="/">
						<img class="logo" src="https://s3.amazonaws.com/abogadazo-2/uploads/images/logo_aboga.png" alt="">
					</a>
					

					<span class="sub-logo">Abogados de Calidad y Confianza.</span>
					<div class="search">
						<span class="search-cta"></span>
					</div>
					<a class="nav-icon-mobile"></a>
					<nav>
						<div class="header-nav-mobile">
							<a class="close-nav"></a>
						</div>
						<a href="index.html" class="active">Inicio</a>
						<div class="dropdown-nav">
							<a href="areas.html">Recursos Legales</a>
							<div class="options">								
								<a href="/articles/?q=inmigración">Inmigración</a>				
								<a href="/articles/?q=divorcio">Divorcio</a>								
							</div>
						</div>
						<div class="dropdown-nav">
							<a href="areas.html">Red de Abogados</a>
							<div class="options">								
								<a href="">Despachos de Abogados</a>
								<a href="">Abogados</a>
							</div>
						</div>
						<a href="contact.html">Quienes somos</a>
					</nav>
					<div class="call-header">
						<span class="text">Llámenos</span>
						<a class="tel" href="tel:973-440-8037">973-440-8037</a>
					</div>
					<div class="search-bar" style="display: none;">
						<input type="text" placeholder="Búsqueda">
					</div>
				</div>
			</header><!-- HEADER END-->