<header>
	<div class="wrapper">
		<img class="logo" src="https://s3.amazonaws.com/abogadazo-2/uploads/landing_page_v2/images/icn/logo_white.png" alt="">
		<div class="search">
			<span class="search-cta"></span>
		</div>
		<a class="nav-icon-mobile"></a>
		<nav>
				<div class="header-nav-mobile">
					<a class="close-nav"></a>
				</div>
				<a href="index.html" class="active">Inicio</a>
				<a href="aboutus.html">Nosotros</a>
				<a href="blog.html">Blog</a>
				<a href="contact.html">Contactenos</a>
		</nav>
		<div class="search-bar" style="display: none;">
			<input type="text" placeholder="Búsqueda">
		</div>
	</div>
</header><!-- HEADER END-->