 <footer>
  <div class="blue-bar">
    <div class="wrapper">
      <h2 class="copy">Ayuda legal más fácil y en nuestro idioma.</h2>
      <div class="right-content">
        <a href="tel:973-440-8037" class="button white transparent phone">Llámanos</a>
      </div>
    </div>
  </div>
  <div class="last-bar">
    <div class="wrapper">
      <div class="links">
        <a href="index.html">Inicio</a>
        <a href="aboutus.html">Nosotros</a>
        <a href="blog.html">Blog</a>
        <a href="contact.html">Contactenos</a>
      </div>
      <div class="links last">
        <span>&copy; 2017 Abogadazo LLC</span>
        <a href="#">Terminos & Condiciones</a>
        <a href="#">Legal</a>
      </div>
    </div>
  </div>
</footer><!-- FOOTER END-->